haml/partials/feed-item-project.haml
.feed-item.feed-item-triple.omega.alpha
	%h3.heading
		%a{href: "#"}= ["Go Pandal Hopping this Durga Poja.", "Style Check: Living Rooms", "Shades Of Jade: Bathroom Decor", "9 Ways To Create An Entryway You'd be Happy To Come Home To", "Go for Gold: 7 Ways for a Glittering Home Decor!", "Decor & Styling: Runway To Entryway", "10 Incredible Ways To Doll Up Your Coffee Table"].sample
	.featured-image
		.category-tag.category-tag-blue= %w(Minimal Contemporary Eclectic Modern).sample
		- 3.times do
			%a{href: "../projects/project-details.html"}
				%img.small{src: "../../images/misc/1920x1080/#{(rand(20)+1)}.jpg"}
		%a.more-square{href: "#"} +4 more
	.summary
		.user-info
			.avatar
				%a{href: "#"}
					%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
			.details
				.source
					%a{href: "#"}= ["New Media Designs", "Blue Decor", "Silver Valley Architects", "Era Tangar", "Shuyab Alam"].sample
				shared a
				.target
					%a{href: "#"} project
				.time
					= rand(9) + 1
					hours ago
		.actions
			- if rand(100) > 30
				%a.like-button.icon-heart{href:"#"}= rand(1000)
			- else
				%a.like-button.icon-heart-empty{href:"#"}= rand(1000)
			%a.share-button.icon-share-square-1{href:"#"}= "#{rand(1000)}.#{rand(100)}#{['k', 'k', 'k', 'k', 'k', 'L'].sample}" 	

haml/partials/feed-item-project.html
<div class='feed-item feed-item-triple omega alpha'>
  <h3 class='heading'>
    <a href='#'>Decor & Styling: Runway To Entryway</a>
  </h3>
  <div class='featured-image'>
    <div class='category-tag category-tag-blue'>Modern</div>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/9.jpg'>
    </a>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/2.jpg'>
    </a>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/13.jpg'>
    </a>
    <a class='more-square' href='#'>+4 more</a>
  </div>
  <div class='summary'>
    <div class='user-info'>
      <div class='avatar'>
        <a href='#'>
          <img src='../../images/avatars/96x96/10.png'>
        </a>
      </div>
      <div class='details'>
        <div class='source'>
          <a href='#'>Blue Decor</a>
        </div>
        shared a
        <div class='target'>
          <a href='#'>project</a>
        </div>
        <div class='time'>
          2
          hours ago
        </div>
      </div>
    </div>
    <div class='actions'>
      <a class='like-button icon-heart-empty' href='#'>98</a>
      <a class='share-button icon-share-square-1' href='#'>181.14k</a>
    </div>
  </div>
</div>
