haml/partials/feed-item-shop.html
<div class='feed-item feed-item-triple omega alpha'>
  <h3 class='heading'>
    <a href='#'>Decor & Styling: Runway To Entryway</a>
  </h3>
  <div class='featured-image'>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/7.jpg'>
      <div class='label'>
        Rs.
        454
      </div>
    </a>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/26.jpg'>
      <div class='label'>
        Rs.
        6374
      </div>
    </a>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/20.jpg'>
      <div class='label'>
        Rs.
        7363
      </div>
    </a>
    <a class='more-square' href='#'>+4 more</a>
  </div>
  <div class='summary'>
    <div class='user-info'>
      <div class='avatar'>
        <a href='#'>
          <img src='../../images/avatars/96x96/7.png'>
        </a>
      </div>
      <div class='details'>
        <div class='source'>
          <a href='#'>Era Tangar</a>
        </div>
        added
        <div class='target'>
          <a href='#'>4 products</a>
        </div>
        to the
        <div class='target'>
          <a href='../shop/category-home.html'>lamps & lighting store</a>
        </div>
        <div class='time'>
          7
          hours ago
        </div>
      </div>
    </div>
    <div class='actions'>
      <a class='like-button icon-heart' href='#'>840</a>
      <a class='share-button icon-share-square-1' href='#'>441.2k</a>
    </div>
  </div>
</div>

haml/partials/feed-item-shop.haml
.feed-item.feed-item-triple.omega.alpha
	%h3.heading
		%a{href: "#"}= ["Go Pandal Hopping this Durga Poja.", "Style Check: Living Rooms", "Shades Of Jade: Bathroom Decor", "9 Ways To Create An Entryway You'd be Happy To Come Home To", "Go for Gold: 7 Ways for a Glittering Home Decor!", "Decor & Styling: Runway To Entryway", "10 Incredible Ways To Doll Up Your Coffee Table"].sample
	.featured-image
		- 3.times do
			%a{href: "../shop/product-details.html"}
				%img.prod-tn{src: "../../images/lamps/#{(rand(27)+1)}.jpg"}
				.label
					Rs.
					= rand(10000)
		%a.more-square{href: "#"} +4 more
	.summary
		.user-info
			.avatar
				%a{href: "#"}
					%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
			.details
				.source
					%a{href: "#"}= ["New Media Designs", "Blue Decor", "Silver Valley Architects", "Era Tangar", "Shuyab Alam"].sample
				added 
				.target
					%a{href: "#"} 4 products
				to the
				.target
					%a{href: "../shop/category-home.html"} lamps & lighting store
				.time
					= rand(9) + 1
					hours ago
		.actions
			- if rand(100) > 30
				%a.like-button.icon-heart{href:"#"}= rand(1000)
			- else
				%a.like-button.icon-heart-empty{href:"#"}= rand(1000)
			%a.share-button.icon-share-square-1{href:"#"}= "#{rand(1000)}.#{rand(100)}#{['k', 'k', 'k', 'k', 'k', 'L'].sample}" 								
