haml/shop/category-home.haml

= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		%br
		.products-list
			.row.two-col-inv
				%h1.fancy-heading.lamp Lamps & Lighting Store
				.left-col
					%h2 Filters
					.filter-box
						%h3 Price
						%ul
							%li
								- ["less than 500", "501 - 1,500", "1,501 - 5,000", "5,001 - 10,000", "10,001 - 25,000", "more than 25,000"].each do |item|
									%a{href:"#"}= item
				.right-col
					%h2 Showing 1920 products
					- ((rand(20)+1)*(rand(5)+1)).times do 
						%a.product-box{href:"product-details.html"}
							%img{src: "../../images/lamps/#{rand(28)+1}.jpg"}
							.details
								%h4= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
								%span.price
									%span.WebRupee &#x20B9;
									%span.amount= rand(200000)*10
					.actions
						%a.more-button{href: "#"} Show More

haml/shop/category-home.html
<!DOCTYPE html>
<head>
  <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='../../js/jquery.fancybox.js'></script>
  <script src='../../js/jquery.justifiedGallery.min.js'></script>
  <script src='../../js/custom.js'></script>
  <link href='http://cdn.webrupee.com/font' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class='header header-fixed'>
    <div class='header-wrapper'>
      <div class='header-container'>
        <a href='../home/home1.html' id='logo'>
          <img src='http://zimply.in/static/images/logo3.png'>
        </a>
        <div class='header-links'>
          <ul>
            <li>
              <a class='header-link' href='#'>Home</a>
            </li>
            <li>
              <a class='header-link' href='#'>Stories</a>
            </li>
            <li>
              <a class='header-link' href='#'>Photos</a>
            </li>
            <li>
              <a class='header-link' href='#'>Experts</a>
            </li>
            <li>
              <a class='header-link' href='#'>Shop</a>
            </li>
            <li>
              <a class='header-link icon-shopping-cart' href='#'></a>
            </li>
            <li class='with-dd'>
              <a class='header-link icon-user' href='#'></a>
              <div class='dropdown'>
                <ul>
                  <li>
                    <a href='#'>Account</a>
                  </li>
                  <li>
                    <a href='#'>Orders</a>
                  </li>
                  <li>
                    <a href='#'>Settings</a>
                  </li>
                  <li>
                    <a href='#'>Profile</a>
                  </li>
                  <li>
                    <a href='#'>Addresses</a>
                  </li>
                  <li>
                    <a href='#'>Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a class='button-primary' href='#'>Login</a>
        </div>
      </div>
    </div>
  </header>
  <div class='container'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='products-list'>
      <div class='row two-col-inv'>
        <h1 class='fancy-heading lamp'>Lamps & Lighting Store</h1>
        <div class='left-col'>
          <h2>Filters</h2>
          <div class='filter-box'>
            <h3>Price</h3>
            <ul>
              <li>
                <a href='#'>less than 500</a>
                <a href='#'>501 - 1,500</a>
                <a href='#'>1,501 - 5,000</a>
                <a href='#'>5,001 - 10,000</a>
                <a href='#'>10,001 - 25,000</a>
                <a href='#'>more than 25,000</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='right-col'>
          <h2>Showing 1920 products</h2>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/2.jpg'>
            <div class='details'>
              <h4>Ethnic Wooden Multicoloured Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>410590</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/17.jpg'>
            <div class='details'>
              <h4>Ethnic Wooden Multicoloured Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>625800</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/15.jpg'>
            <div class='details'>
              <h4>Hand Painted Gold Fish Table Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>673750</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/13.jpg'>
            <div class='details'>
              <h4>Hand Painted Gold Fish Table Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>105320</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/28.jpg'>
            <div class='details'>
              <h4>Ball 8" Full Hollow</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>544510</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/20.jpg'>
            <div class='details'>
              <h4>Handcrafted Majestic Dhokra Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>1629880</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/24.jpg'>
            <div class='details'>
              <h4>Ball 8" Full Hollow</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>1763130</span>
              </span>
            </div>
          </a>
          <a class='product-box' href='product-details.html'>
            <img src='../../images/lamps/21.jpg'>
            <div class='details'>
              <h4>Handcrafted Majestic Dhokra Lamp</h4>
              <span class='price'>
                <span class='WebRupee'>&#x20B9;</span>
                <span class='amount'>907250</span>
              </span>
            </div>
          </a>
          <div class='actions'>
            <a class='more-button' href='#'>Show More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
