haml/shop/product-details.html
<!DOCTYPE html>
<head>
  <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Merriweather|Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='../../js/jquery.fancybox.js'></script>
  <script src='../../js/jquery.justifiedGallery.min.js'></script>
  <script src='../../js/custom.js'></script>
  <link href='http://cdn.webrupee.com/font' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class='header header-fixed'>
    <div class='header-wrapper'>
      <div class='header-container'>
        <a href='../home/home1.html' id='logo'>
          <img src='http://zimply.in/static/images/logo3.png'>
        </a>
        <div id='location-selector'>
          <div class='current'>
            Delhi NCR
            <span class='icon-pin-map'></span>
          </div>
          <div class='dropdown'>
            <ul>
              <li>
                <a href='#'>Mumbai</a>
              </li>
              <li>
                <a href='#'>Chennai</a>
              </li>
              <li>
                <a href='#'>Kolkata</a>
              </li>
              <li>
                <a href='#'>Panaji</a>
              </li>
              <li>
                <a href='#'>Ahmedabad</a>
              </li>
              <li>
                <a href='#'>Kanpur</a>
              </li>
              <li>
                <a href='#'>Lucknow</a>
              </li>
              <li>
                <a href='#'>Bhutan</a>
              </li>
            </ul>
          </div>
        </div>
        <div id='header-search'>
          <input placeholder='Search for products, inspiration, experts' type='search' value='Cr'>
          <div class='dropdown'>
            <ul class='recent-searches'>
              <li>
                <a href='#'>
                  <span class='icon icon-clock'></span>
                  <span class='indicator left'>SEARCH FOR</span>
                  <span class='matched'>Cr</span>
                  aftwrek Pvt Ltd
                </a>
              </li>
              <li>
                <a href='#'>
                  <span class='icon icon-clock'></span>
                  <span class='indicator'>&nbsp;</span>
                  <span class='matched'>Cr</span>
                  ossbow International
                </a>
              </li>
            </ul>
            <ul class='shop-searches'>
              <li>
                <a href='#'>
                  <span class='icon icon-search-find'></span>
                  <span class='indicator left'>
                    SHOP
                  </span>
                  <span class='matched'>Cr</span>
                  ome Plated Brassplate
                  <span class='indicator'>
                    IN
                    <b>LAMPS & LIGHTING STORE</b>
                  </span>
                </a>
              </li>
              <li>
                <a href='#'>
                  <span class='icon icon-search-find'></span>
                  <span class='indicator'>&nbsp;</span>
                  <span class='matched'>Cr</span>
                  ockery Set
                  <span class='indicator'>
                    IN
                    <b>FURNITURE STORE</b>
                  </span>
                </a>
              </li>
              <li>
                <a href='#'>
                  <span class='icon icon-search-find'></span>
                  <span class='indicator'>&nbsp;</span>
                  <span class='matched'>Cr</span>
                  ane
                  <span class='indicator'>
                    IN
                    <b>LAMPS & LIGHTING STORE</b>
                  </span>
                </a>
              </li>
            </ul>
            <ul class='expert-cat-searches'>
              <li>
                <a href='#'>
                  <span class='icon icon-search-find'></span>
                  <span class='indicator left'>SEARCH FOR</span>
                  <span class='matched'>Cr</span>
                  aft Equipment Suppliers
                  <span class='indicator'>
                    IN
                    <b>EXPERTS</b>
                  </span>
                </a>
              </li>
            </ul>
            <ul class='expert-searches'>
              <li>
                <a href='#'>
                  <span class='avatar'>
                    <img src='../../images/avatars/96x96/2.png'>
                  </span>
                  <span class='indicator left'>EXPERT</span>
                  <span class='matched'>Cr</span>
                  itical Designs
                  <span class='indicator'>
                    IN
                    <b>ARCHITECTS</b>
                  </span>
                </a>
              </li>
              <li>
                <a href='#'>
                  <span class='avatar'>
                    <img src='../../images/avatars/96x96/5.png'>
                  </span>
                  <span class='indicator'>&nbsp;</span>
                  <span class='matched'>Cr</span>
                  eedence Clearwater
                  <span class='indicator'>
                    IN
                    <b>ARCHITECTS</b>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class='header-links'>
          <ul>
            <li>
              <a class='header-link' href='#'>Home</a>
            </li>
            <li>
              <a class='header-link' href='#'>Photos</a>
            </li>
            <li>
              <a class='header-link' href='#'>Experts</a>
            </li>
            <li>
              <a class='header-link' href='#'>Shop</a>
            </li>
            <li>
              <a class='header-link icon-shopping-cart' href='#'></a>
            </li>
            <li class='with-dd'>
              <a class='header-link icon-user' href='#'></a>
              <div class='dropdown'>
                <ul>
                  <li>
                    <a href='#'>Account</a>
                  </li>
                  <li>
                    <a href='#'>Orders</a>
                  </li>
                  <li>
                    <a href='#'>Settings</a>
                  </li>
                  <li>
                    <a href='#'>Profile</a>
                  </li>
                  <li>
                    <a href='#'>Addresses</a>
                  </li>
                  <li>
                    <a href='#'>Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a class='button-primary' href='#'>Login</a>
        </div>
      </div>
    </div>
  </header>
  <div class='container'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='breadcrumbs'>
      <a href='#'>Home</a>
      /
      <a href='#'>Shop</a>
      /
      <a href='#'>Lamps & Lighting Store</a>
      /
      <span>Hand Painted Gold Fish Table Lamp</span>
    </div>
    <div class='products-list'>
      <div class='row prod-details'>
        <div class='left-col'>
          <div class='image-gallery'>
            <img class='big-image' src='../../images/lamps/7.jpg'>
            <div class='thumbnails'>
              <img src='../../images/lamps/26.jpg'>
              <img src='../../images/lamps/28.jpg'>
              <img src='../../images/lamps/23.jpg'>
              <img src='../../images/lamps/12.jpg'>
              <img src='../../images/lamps/25.jpg'>
            </div>
          </div>
        </div>
        <div class='right-col'>
          <h1>Ethnic Wooden Multicoloured Lamp</h1>
          <div class='prod-social'>
            <a class='icon-facebook' href='#' title='share on Facebook'></a>
            <a class='icon-twitter' href='#' title='share on Twitter'></a>
            <a class='icon-pinterest' href='#' title='share on Pinterest'></a>
            <a class='icon-star' href='#' title='add to wishlist'>Add to wishlist</a>
          </div>
          <p class='truncated-details'>
            Coffee Table - Enhance your home decor with this hardwood espresso coffee table from Furniture Banwao that scores highly on style as well as storage. The dark-chocolate glossy finish and the most pristine textures in combination with lower storage platform make it an ideal addition to any living or study .
            <a href='#'>Read More</a>
          </p>
          <div class='prod-availability'>
            <label>CHECK AVAILABILITY</label>
            <input placeholder='enter pincode' type='text'>
            <a class='button-secondary small' href='#'>Check</a>
          </div>
          <div class='prod-quickie'>
            <div class='price'>
              <span class='WebRupee'>&#x20B9;</span>
              <span class='amount'>40890</span>
              <div class='small'>Free Shipping</div>
            </div>
            <div class='del'>
              Delivered within &nbsp;
              <b>5 - 10</b>
              business days
              <div class='prod-seller'>
                <b>Seller:</b>
                <img class='avatar' src='../../images/avatars/96x96/7.png'>
                <a href='#'>Brannon Mohr</a>
              </div>
            </div>
          </div>
          <div class='prod-actions'>
            <a class='button-secondary' href='#'>Add to Cart</a>
            <a class='button-primary' href='#'>Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class='prod-tabs tabs'>
      <div class='row tab-links'>
        <a class='tab active' data-tab='details' href='#'>Details</a>
        <a class='tab' data-tab='specs' href='#'>Specifications</a>
        <a class='tab' data-tab='returns' href='#'>Return Policy</a>
        <a class='tab' data-tab='care' href='#'>Care Instructions</a>
      </div>
      <div class='row tab-contents'>
        <div class='tab-content active' id='tab-details'>
          <p>Sit commodi nihil quo tenetur sint. Accusamus voluptates aut aut autem ipsa. Eligendi in voluptatem vero non quia.</p>
          <p>Ut ut corrupti quidem suscipit qui quia libero. Dignissimos excepturi cumque est quis. Aut libero nulla enim ducimus voluptate architecto. Explicabo animi itaque. Quasi ut repellendus.</p>
        </div>
        <div class='tab-content' id='tab-specs'>
          <p>Odit necessitatibus laboriosam quo. Dicta quia voluptates. Quasi blanditiis hic. Itaque deserunt optio eos sit et dolores accusantium.</p>
        </div>
        <div class='tab-content' id='tab-returns'>
          <p>Voluptates mollitia totam eum praesentium dolores ducimus molestiae. Laudantium cupiditate est et itaque. Dolores nam et ad est quia. Necessitatibus vero itaque labore omnis.</p>
          <p>Et quis dolor nobis voluptatibus sunt ab rem. Voluptatem pariatur eos ut vero sapiente aut quaerat. Officia nisi id. Facere et tempore harum ipsa dolore vitae.</p>
          <p>Earum beatae consequatur placeat id nobis. Eaque est et commodi saepe. Cumque et mollitia aut aut est tenetur. Aliquam nam minus. Quia temporibus quaerat rerum.</p>
          <p>Non quae eveniet omnis sit. Ut dolorem tempore inventore cum distinctio perferendis. Explicabo provident fugiat ex cumque voluptas neque.</p>
        </div>
        <div class='tab-content' id='tab-care'>
          <p>Sint voluptatem distinctio. Sed nostrum mollitia laborum. Magni sit porro voluptates.</p>
          <p>Ullam blanditiis iure aut alias minus. Velit deleniti est non tempore perspiciatis. Dolorem saepe impedit.</p>
          <p>Debitis quo voluptatibus veniam et nemo. Ut repudiandae omnis veniam aut ut. Natus nesciunt velit quis.</p>
          <p>Aliquid ut culpa hic numquam. Blanditiis officia suscipit. Qui et rerum sunt repellat quaerat. Nulla minima fugiat. Velit consequatur corrupti autem repellat.</p>
        </div>
      </div>
    </div>
  </div>
</body>

haml/shop/product-details.haml
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		%br
		.breadcrumbs
			%a{href: "#"} Home
			\/
			%a{href: "#"} Shop
			\/
			%a{href: "#"} Lamps & Lighting Store
			\/
			%span= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
		.products-list
			.row.prod-details
				.left-col
					.image-gallery
						%img.big-image{src: "../../images/lamps/#{rand(28)+1}.jpg"}
						.thumbnails
							- 5.times do
								%img{src: "../../images/lamps/#{rand(28)+1}.jpg"}
				.right-col
					%h1= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
					.prod-social
						%a.icon-facebook{href: "#", title: "share on Facebook"}	
						%a.icon-twitter{href: "#", title: "share on Twitter"}	
						%a.icon-pinterest{href: "#", title: "share on Pinterest"}	
						%a.icon-star{href: "#", title: "add to wishlist"} Add to wishlist
					%p.truncated-details
						Coffee Table - Enhance your home decor with this hardwood espresso coffee table from Furniture Banwao that scores highly on style as well as storage. The dark-chocolate glossy finish and the most pristine textures in combination with lower storage platform make it an ideal addition to any living or study .
						%a{href:"#"} Read More
					.prod-availability
						%label CHECK AVAILABILITY
						%input{type: "text", placeholder: "enter pincode"}
						%a.button-secondary.small{href: "#"} Check
					.prod-quickie
						.price
							%span.WebRupee  &#x20B9;
							%span.amount= rand(10000)*10
							.small Free Shipping
						.del
							Delivered within &nbsp;
							%b 5 - 10
							business days
							.prod-seller
								%b Seller:
								%img.avatar{src: "../../images/avatars/96x96/#{rand(10)}.png"}	
								%a{href: "#"}= Faker::Name.name
					.prod-actions
						%a.button-secondary{href: "#"} Add to Cart
						%a.button-primary{href: "#"} Buy Now
		.prod-tabs.tabs
			.row.tab-links
				%a.tab.active{href: "#", "data-tab": "details"} Details
				%a.tab{href: "#", "data-tab": "specs"} Specifications
				%a.tab{href: "#", "data-tab": "returns"} Return Policy
				%a.tab{href: "#", "data-tab": "care"} Care Instructions
			.row.tab-contents
				#tab-details.tab-content.active
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-specs.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-returns.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-care.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
