haml/home/home1.html
<!DOCTYPE html>
<head>
  <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='../../js/jquery.fancybox.js'></script>
  <script src='../../js/jquery.justifiedGallery.min.js'></script>
  <script src='../../js/custom.js'></script>
  <link href='http://cdn.webrupee.com/font' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class='header header-fixed'>
    <div class='header-wrapper'>
      <div class='header-container'>
        <a href='../home/home1.html' id='logo'>
          <img src='http://zimply.in/static/images/logo3.png'>
        </a>
        <div class='header-links'>
          <ul>
            <li>
              <a class='header-link' href='#'>Home</a>
            </li>
            <li>
              <a class='header-link' href='#'>Stories</a>
            </li>
            <li>
              <a class='header-link' href='#'>Photos</a>
            </li>
            <li>
              <a class='header-link' href='#'>Experts</a>
            </li>
            <li>
              <a class='header-link' href='#'>Shop</a>
            </li>
            <li>
              <a class='header-link icon-shopping-cart' href='#'></a>
            </li>
            <li class='with-dd'>
              <a class='header-link icon-user' href='#'></a>
              <div class='dropdown'>
                <ul>
                  <li>
                    <a href='#'>Account</a>
                  </li>
                  <li>
                    <a href='#'>Orders</a>
                  </li>
                  <li>
                    <a href='#'>Settings</a>
                  </li>
                  <li>
                    <a href='#'>Profile</a>
                  </li>
                  <li>
                    <a href='#'>Addresses</a>
                  </li>
                  <li>
                    <a href='#'>Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a class='button-primary' href='#'>Login</a>
        </div>
      </div>
    </div>
  </header>
  <div class='container'>
    <br>
    <br>
    <br>
    <br>
    <div class='row'>
      <div class='shop-categories'>
        <h2>Shop for your home in these sections</h2>
        <a href='#' id='home-decor-link'>
          <img src='../../images/sections/homedecor.jpg'>
          <div class='overlay'>
            <span class='overlay-content'>Home Decor</span>
          </div>
        </a>
        <a href='#' id='furniture-link'>
          <img src='../../images/sections/furniture.jpg'>
          <div class='overlay'>
            <span class='overlay-content'>Furniture</span>
          </div>
        </a>
        <a href='#' id='lamps-link'>
          <img src='../../images/sections/lamps.jpg'>
          <div class='overlay'>
            <span class='overlay-content'>Lamps & Lighting</span>
          </div>
        </a>
        <a href='#' id='kitchen-link'>
          <img src='../../images/sections/kitchen.jpg'>
          <div class='overlay'>
            <span class='overlay-content'>Kitchen & Dining</span>
          </div>
        </a>
      </div>
      <div class='experts-search'>
        <h2>Find the right home service expert for your project</h2>
        <h3>Search across cities and service types</h3>
        <form>
          <div class='fieldset'>
            <div class='field'>
              <label>CITY</label>
              <select>
                <option value='Delhi NCR'>Delhi NCR</option>
                <option value='Chennai'>Chennai</option>
                <option value='Mumbai'>Mumbai</option>
                <option value='Bengaluru'>Bengaluru</option>
                <option value='Kolkata'>Kolkata</option>
                <option value='Pune'>Pune</option>
              </select>
            </div>
            <div class='field'>
              <label>TYPE OF EXPERT</label>
              <select>
                <option value='Architect'>Architect</option>
                <option value='Interior Designer'>Interior Designer</option>
              </select>
            </div>
          </div>
          <a class='button-secondary' href='#'>Search</a>
        </form>
      </div>
    </div>
    <div class='row'>
      <br>
      <br>
      <div class='left-sidebar'>
        <h3>Browse for inspiration in the following categories</h3>
        <h4>SPACE</h4>
        <ul>
          <li>
            <a href='#'>Living</a>
          </li>
          <li>
            <a href='#'>Bedroom</a>
          </li>
          <li>
            <a href='#'>Children's Room</a>
          </li>
          <li>
            <a href='#'>Dining</a>
          </li>
          <li>
            <a href='#'>Kitchen</a>
          </li>
        </ul>
        <h4>STYLE</h4>
        <ul>
          <li>
            <a href='#'>Minimal</a>
          </li>
          <li>
            <a href='#'>Eclectic</a>
          </li>
          <li>
            <a href='#'>Contemporary</a>
          </li>
          <li>
            <a href='#'>Classic</a>
          </li>
          <li>
            <a href='#'>Modern</a>
          </li>
        </ul>
      </div>
      <div class='feed-wrapper feed-wrapper-1'>
        <div class='feed-container'>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>Go for Gold: 7 Ways for a Glittering Home Decor!</a>
            </h3>
            <div class='featured-image'>
              <div class='category-tag category-tag-orange'>Minimal</div>
              <a class='fancy-photo' href='../../images/misc/1920x1080/20.jpg'>
                <img src='../../images/misc/1920x1080/20.jpg'>
              </a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/12.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Blue Decor</a>
                  </div>
                  shared this
                  <div class='target'>
                    <a href='#'>photo</a>
                  </div>
                  <div class='time'>
                    8
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart-empty' href='#'>367</a>
                <a class='share-button icon-share-square-1' href='#'>1.29k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>9 Ways To Create An Entryway You'd be Happy To Come Home To</a>
            </h3>
            <div class='featured-image'>
              <div class='category-tag category-tag-purple'>Minimal</div>
              <a class='fancy-photo' href='../../images/misc/1920x1080/13.jpg' rel='gallery5906'>
                <img class='small' src='../../images/misc/1920x1080/13.jpg'>
              </a>
              <a class='fancy-photo' href='../../images/misc/1920x1080/9.jpg' rel='gallery5906'>
                <img class='small' src='../../images/misc/1920x1080/9.jpg'>
              </a>
              <a class='fancy-photo' href='../../images/misc/1920x1080/24.jpg' rel='gallery5906'>
                <img class='small' src='../../images/misc/1920x1080/24.jpg'>
              </a>
              <a class='more-square' href='#'>+4 more</a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/11.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Silver Valley Architects</a>
                  </div>
                  shared
                  <div class='target'>
                    <a href='#'>4 photos</a>
                  </div>
                  <div class='time'>
                    8
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart' href='#'>503</a>
                <a class='share-button icon-share-square-1' href='#'>369.51k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>Go for Gold: 7 Ways for a Glittering Home Decor!</a>
            </h3>
            <div class='featured-image'>
              <div class='category-tag category-tag-purple'>Minimal</div>
              <a class='fancy-photo' href='../../images/misc/1920x1080/12.jpg' rel='gallery2803'>
                <img class='small' src='../../images/misc/1920x1080/12.jpg'>
              </a>
              <a class='fancy-photo' href='../../images/misc/1920x1080/23.jpg' rel='gallery2803'>
                <img class='small' src='../../images/misc/1920x1080/23.jpg'>
              </a>
              <a class='fancy-photo' href='../../images/misc/1920x1080/6.jpg' rel='gallery2803'>
                <img class='small' src='../../images/misc/1920x1080/6.jpg'>
              </a>
              <a class='more-square' href='#'>+4 more</a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/2.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Silver Valley Architects</a>
                  </div>
                  shared
                  <div class='target'>
                    <a href='#'>4 photos</a>
                  </div>
                  <div class='time'>
                    1
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart' href='#'>620</a>
                <a class='share-button icon-share-square-1' href='#'>370.50k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>Go Pandal Hopping this Durga Poja.</a>
            </h3>
            <div class='featured-image'>
              <div class='category-tag category-tag-blue'>Modern</div>
              <a href='../projects/project-details.html'>
                <img class='small' src='../../images/misc/1920x1080/19.jpg'>
              </a>
              <a href='../projects/project-details.html'>
                <img class='small' src='../../images/misc/1920x1080/16.jpg'>
              </a>
              <a href='../projects/project-details.html'>
                <img class='small' src='../../images/misc/1920x1080/6.jpg'>
              </a>
              <a class='more-square' href='#'>+4 more</a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/3.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Silver Valley Architects</a>
                  </div>
                  shared a
                  <div class='target'>
                    <a href='#'>project</a>
                  </div>
                  <div class='time'>
                    5
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart' href='#'>372</a>
                <a class='share-button icon-share-square-1' href='#'>625.19k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>10 Incredible Ways To Doll Up Your Coffee Table</a>
            </h3>
            <div class='article-summary'>
              <a href='#'>
                <div class='excerpt'>Esse rerum qui. Et architecto sequi modi laudantium. Et nihil laborum quae laboriosam.<br/>Commodi omnis sit maiores ea. Magnam qui molestiae. Quo explicabo molestiae officiis. Nisi blanditiis temporibus beatae esse dolor vitae repellat. Et et possimus occaecati.</div>
                <img src='../../images/misc/1920x1080/18.jpg'>
              </a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/5.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Era Tangar</a>
                  </div>
                  published this
                  <div class='target'>
                    <a href='#'>article</a>
                  </div>
                  <div class='time'>
                    5
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart' href='#'>780</a>
                <a class='share-button icon-share-square-1' href='#'>471.94k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>Go for Gold: 7 Ways for a Glittering Home Decor!</a>
            </h3>
            <div class='featured-image'>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/26.jpg'>
                <div class='label'>
                  Rs.
                  4312
                </div>
              </a>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/20.jpg'>
                <div class='label'>
                  Rs.
                  1719
                </div>
              </a>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/26.jpg'>
                <div class='label'>
                  Rs.
                  2659
                </div>
              </a>
              <a class='more-square' href='#'>+4 more</a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/12.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Era Tangar</a>
                  </div>
                  added
                  <div class='target'>
                    <a href='#'>4 products</a>
                  </div>
                  to the
                  <div class='target'>
                    <a href='../shop/category-home.html'>lamps & lighting store</a>
                  </div>
                  <div class='time'>
                    2
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart' href='#'>61</a>
                <a class='share-button icon-share-square-1' href='#'>6.16k</a>
              </div>
            </div>
          </div>
          <div class='feed-item feed-item-triple omega alpha'>
            <h3 class='heading'>
              <a href='#'>10 Incredible Ways To Doll Up Your Coffee Table</a>
            </h3>
            <div class='featured-image'>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/2.jpg'>
                <div class='label'>
                  Rs.
                  6106
                </div>
              </a>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/10.jpg'>
                <div class='label'>
                  Rs.
                  7941
                </div>
              </a>
              <a href='../shop/product-details.html'>
                <img class='prod-tn' src='../../images/lamps/27.jpg'>
                <div class='label'>
                  Rs.
                  700
                </div>
              </a>
              <a class='more-square' href='#'>+4 more</a>
            </div>
            <div class='summary'>
              <div class='user-info'>
                <div class='avatar'>
                  <a href='#'>
                    <img src='../../images/avatars/96x96/8.png'>
                  </a>
                </div>
                <div class='details'>
                  <div class='source'>
                    <a href='#'>Era Tangar</a>
                  </div>
                  added
                  <div class='target'>
                    <a href='#'>4 products</a>
                  </div>
                  to the
                  <div class='target'>
                    <a href='../shop/category-home.html'>lamps & lighting store</a>
                  </div>
                  <div class='time'>
                    6
                    hours ago
                  </div>
                </div>
              </div>
              <div class='actions'>
                <a class='like-button icon-heart-empty' href='#'>468</a>
                <a class='share-button icon-share-square-1' href='#'>236.48k</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

haml/home/home1.haml
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render

%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		.row
			.shop-categories
				%h2 Shop for your home in these sections
				%a#home-decor-link{href: "#"}
					%img{src:"../../images/sections/homedecor.jpg"}
					.overlay	
						%span.overlay-content Home Decor
				%a#furniture-link{href: "#"}
					%img{src:"../../images/sections/furniture.jpg"}
					.overlay	
						%span.overlay-content Furniture
				%a#lamps-link{href: "#"}
					%img{src:"../../images/sections/lamps.jpg"}
					.overlay	
						%span.overlay-content Lamps & Lighting
				%a#kitchen-link{href: "#"}
					%img{src:"../../images/sections/kitchen.jpg"}
					.overlay	
						%span.overlay-content Kitchen & Dining
			.experts-search
				%h2 Find the right home service expert for your project
				%h3 Search across cities and service types
				%form
					.fieldset
						.field
							%label CITY
							%select
								- %w(Delhi\ NCR Chennai Mumbai Bengaluru Kolkata Pune).each do |item|
									%option{value: item}= item
						.field
							%label TYPE OF EXPERT
							%select
								- %w(Architect Interior\ Designer	).each do |item|
									%option{value: item}= item
					%a.button-secondary{href: "#"} Search
		.row
			%br
			%br
			.left-sidebar
				%h3 Browse for inspiration in the following categories
				%h4 SPACE
				%ul
					- %w(Living Bedroom Children's\ Room Dining Kitchen).each do |item|
						%li
							%a{href: "#"}= item
				%h4 STYLE
				%ul
					- %w(Minimal Eclectic Contemporary Classic Modern).each do |item|
						%li
							%a{href: "#"}= item							
			.feed-wrapper.feed-wrapper-1
				.feed-container
					- (rand(1)+1).times do
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-photo.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-photos.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-project.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-article.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-shop.haml")).render	
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
