haml/pages/commission_invoice.haml
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render


%body
	.container
		.row.two-col
			.left-col
				INVOICE#ZI/15-16/06/001
			.right-col
				%p
					%b Bill Period: 
					June'2015
				%p
					%b Date 
					31-March-2015
		.row.two-col 
			.left-col
				%p
					Arora Suppliers 
					%br
					Gali Number 1, 16/61 Joshi road, 
					%br
					Karol Bagh, Delhi-110005.
			.right-col 
				%p 
					%b PAN:
					AAGCB1558F
				%p 
					%b Service Tax:
					AAGCB1558FSD001
				%p
					%b CIN: 
					U74999DL2015PPC275415

		.row
			%p Dear Partner,
			%p For the month of June'2015, 4 orders were sent and it generated INR 65 in revenue for you. As agreed with Zimply service fee we kindly ask you for a payment of INR 0 (including Service Tax).
			%table.big-table1
				%tr.border-bot
					%td.odd
						Orders Sent
					%td.even
						4
				%tr
					%td.odd Zimply Fee
					%td.even 57 INR
				%tr.border-bot
					%td.odd	Service tax of 15%
					%td.even 8 INR
				%tr
					%td.odd Total
					%td.even 65 INR
				%tr.border-bot 
					%td.odd Amount already Received/ Adjusted via Online Payment
					%td.even 65 INR
				%tr.border-bot 
					%td.odd Net Payable
					%td.even 0 INR

		.row.two-col
			.left-col
				%p Please transfer the Zimply fee of INR 0 in favour of
			.right-col
				%p	
					BITNOMIX TECHNOLOGIES PVT LTD.
					%br
					BANK NAME - HDFC BANK
					%br
					ACCOUNT NUMBER - 50200008917469
					%br
					IFSC-HDFC0002035
		.row
			%p
				If you have any concerns, questions or feedback, feel free to contact us any time or speak to your representative.
			%p
				%b This is a system generated invoice and does not require signature.
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render

haml/pages/commission_invoice.html
<!DOCTYPE html>
<head>
  <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/print.css' media='print' rel='stylesheet' type='text/css'>
  <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='container'>
    <div class='row two-col'>
      <div class='left-col'>
        INVOICE#ZI/15-16/06/001
      </div>
      <div class='right-col'>
        <p>
          <b>Bill Period:</b>
          June'2015
        </p>
        <p>
          <b>Date</b>
          31-March-2015
        </p>
      </div>
    </div>
    <div class='row two-col'>
      <div class='left-col'>
        <p>
          Arora Suppliers
          <br>
          Gali Number 1, 16/61 Joshi road,
          <br>
          Karol Bagh, Delhi-110005.
        </p>
      </div>
      <div class='right-col'>
        <p>
          <b>PAN:</b>
          AAGCB1558F
        </p>
        <p>
          <b>Service Tax:</b>
          AAGCB1558FSD001
        </p>
        <p>
          <b>CIN:</b>
          U74999DL2015PPC275415
        </p>
      </div>
    </div>
    <div class='row'>
      <p>Dear Partner,</p>
      <p>For the month of June'2015, 4 orders were sent and it generated INR 65 in revenue for you. As agreed with Zimply service fee we kindly ask you for a payment of INR 0 (including Service Tax).</p>
      <table class='big-table1'>
        <tr class='border-bot'>
          <td class='odd'>
            Orders Sent
          </td>
          <td class='even'>
            4
          </td>
        </tr>
        <tr>
          <td class='odd'>Zimply Fee</td>
          <td class='even'>57 INR</td>
        </tr>
        <tr class='border-bot'>
          <td class='odd'>Service tax of 15%</td>
          <td class='even'>8 INR</td>
        </tr>
        <tr>
          <td class='odd'>Total</td>
          <td class='even'>65 INR</td>
        </tr>
        <tr class='border-bot'>
          <td class='odd'>Amount already Received/ Adjusted via Online Payment</td>
          <td class='even'>65 INR</td>
        </tr>
        <tr class='border-bot'>
          <td class='odd'>Net Payable</td>
          <td class='even'>0 INR</td>
        </tr>
      </table>
    </div>
    <div class='row two-col'>
      <div class='left-col'>
        <p>Please transfer the Zimply fee of INR 0 in favour of</p>
      </div>
      <div class='right-col'>
        <p>
          BITNOMIX TECHNOLOGIES PVT LTD.
          <br>
          BANK NAME - HDFC BANK
          <br>
          ACCOUNT NUMBER - 50200008917469
          <br>
          IFSC-HDFC0002035
        </p>
      </div>
    </div>
    <div class='row'>
      <p>
        If you have any concerns, questions or feedback, feel free to contact us any time or speak to your representative.
      </p>
      <p>
        <b>This is a system generated invoice and does not require signature.</b>
      </p>
    </div>
  </div>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
