haml/pages/tnc.html
<!DOCTYPE html>
<head>
  <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
  <link href='../../stylesheets/print.css' media='print' rel='stylesheet' type='text/css'>
  <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class='header header-fixed'>
    <div class='header-wrapper'>
      <div class='header-container'>
        <a href='#' id='logo'>
          <img src='http://zimply.in/static/images/logo3.png'>
        </a>
        <div class='header-links'>
          <ul>
            <li>
              <a class='header-link' href='#'>Home</a>
            </li>
            <li>
              <a class='header-link' href='#'>Stories</a>
            </li>
            <li>
              <a class='header-link' href='#'>Photos</a>
            </li>
            <li>
              <a class='header-link' href='#'>Experts</a>
            </li>
            <li>
              <a class='header-link' href='#'>Shop</a>
            </li>
            <li>
              <a class='header-link icon-shopping-cart' href='#'></a>
            </li>
            <li class='with-dd'>
              <a class='header-link icon-user' href='#'></a>
              <div class='dropdown'>
                <ul>
                  <li>
                    <a href='#'>Account</a>
                  </li>
                  <li>
                    <a href='#'>Orders</a>
                  </li>
                  <li>
                    <a href='#'>Settings</a>
                  </li>
                  <li>
                    <a href='#'>Profile</a>
                  </li>
                  <li>
                    <a href='#'>Addresses</a>
                  </li>
                  <li>
                    <a href='#'>Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a class='button-primary' href='#'>Login</a>
        </div>
      </div>
    </div>
  </header>
  <div class='container'>
    <div class='row'>
      <div class='left-sidebar'></div>
      <div class='content-wrapper'>
        <h1>Terms and Conditions for seller</h1>
        <p>This T & C Agreement ("Agreement") constitutes a legally binding contract between zimply.in (“Zimply," "we," "us," "our") and you with respect to your use of the Zimply website, applications, and the products and services offered by Zimply through them (collectively, the “Site”). It is important that you carefully read and understand the terms and conditions of this Agreement. By using the Site, you agree to be bound by this Agreement. If you do not agree to these terms and conditions, you should not use the Site.</p>
        <p>This Agreement provides important information to you, including information about your obligations regarding your content, our limitation of liability to you, your agreement to resolve any disputes by individual arbitration and to waive the right to participate in a class action.</p>
        <h2>Changes in the Terms and Conditions</h2>
        <p>Zimply reserves the right at any time to:</p>
        <ul>
          <li>change the terms and conditions of this Agreement, consistent with applicable law;</li>
          <li>change the Site, including eliminating or discontinuing any Information or Services (defined below) or other features in whole or in part; and</li>
          <li>deny or terminate your use of and/or access to the Site.</li>
        </ul>
        <p>Any changes we make to the terms and conditions will be effective immediately upon our making such changes available on the Site, and posting notice of such changes on the Site or in another manner in our reasonable discretion. You agree that your continued use of the Site after such changes constitutes your acceptance of such changes. If you do not agree with any of the updates to the terms of this Agreement, you should not use the Site. Be sure to return to this page periodically to ensure your familiarity with the most current version of this Agreement.</p>
        <h2>COMPANY RESERVATION OF RIGHTS</h2>
        <p>Seller shall accurately describe the Product for sale. Seller shall provide and/or upload the content and images of the products for which they are authorized to sell. COMPANY retains the right to determine the content, appearance, design, functionality and all other aspects of the website and to delay or suspend listing of, or to refuse to list, or to de-list, or to require seller not to list, any or all products on the website</p>
        <p>COMPANY shall receive orders for the products displayed on behalf of the seller only in the capacity of the entity that provides an access to the website, marketing and distribution channel to the seller</p>
        <p>With the sole intent of facilitating the transactions on zimply.in. COMPANY shall do payments processing, refunds & adjustments and remitting sales proceeds to the seller’s Bank Account after deducting their commission and other charges.</p>
        <p>COMPANY shall capture the buyer/order details placed on the sellers and share the details of same with the seller for the supply of the products.  The seller shall acknowledge receipt of the same. On receipt of the order, seller will make the products ready for dispatch. The seller shall issue Invoices to the buyers and deliver the products in accordance with the order received</p>
        <p>COMPANY shall not in any manner be held liable or responsible for the defects in the products.</p>
        <p>Seller shall notify COMPANY immediately in writing or by e mail of any circumstance that it expects will cause a delay in delivery of any products. Seller shall further provide the following information in writing to COMPANY:</p>
        <ul>
          <li>the estimated period of delay and the reasons thereof;</li>
          <li>the actions that will be taken by seller to avoid or overcome such delay; and</li>
          <li>the date by which seller expects to deliver the products. In case seller fails to make the product ready for dispatch within the period as stipulated, penalty will be imposed by the COMPANY and the amount of the penalty shall be solely decided by COMPANY.</li>
        </ul>
        <p>COMPANY has the rights to change the display name of the seller on Zimply.in at its discretion</p>
        <h3>Eligibility</h3>
        <p>By registering with us and using this Site you represent, acknowledge and agree that you are at least the age of majority where you reside.</p>
        <h3>Registration</h3>
        <p>Access to certain functionalities of the Site will require you to register with and/or provide certain information to Zimply. When you register or provide information to Zimply, you agree to (a) provide accurate, current and complete information about yourself as prompted (including your email address) and (b) maintain and update your information (including your email address) to keep it accurate, current and complete.</p>
        <h3>Professional Profiles</h3>
        <p>Home improvement professionals may elect to register as a professional and create a professional profile on Zimply. Subject to the terms of this Agreement, such users can use the features made available by us to promote their business on the Site.</p>
        <h3>Your Permitted Use of Services and Information</h3>
        <p>The services made available on the Site (collectively the "Services"), as well as any information provided through website (collectively, the "Information"), are provided for your personal use only and not for any for-profit or commercial activities or purpose or for resale, except as expressly permitted in this Agreement. No Zimply materials or property may be copied, reproduced, displayed, republished, downloaded, posted, digitised, translated, modified, transmitted, distributed or commercially exploited in any way, except as expressly permitted in this Agreement. Zimply’s permission to you for your use of this Site expressly excludes commercial use by you of any Information concerning product descriptions or professional listings for the benefit of another merchant. You expressly are prohibited from any use of data mining, robots, or similar data gathering and extraction tools in your use of the Site.</p>
        <p>Zimply permits you to view and print a reasonable number of copies of web pages located on the Site for your own personal use, but not for any for-profit or commercial purpose or for resale; provided that (a) you retain all trademark, copyright, and other proprietary notices contained in the original materials, (b) the material is printed in its entirety without modification, reformatting or adaptation of any kind, and (c) any such copies are subject to the terms and conditions of this Agreement and remain the property of Zimply. You understand and agree that you may not authorise any Information to be reproduced, modified, displayed, performed, transferred, distributed or otherwise used by any third party, and you agree that you will take all reasonable steps to prevent any unauthorised reproduction and/or other use of the Information. You agree to advise us promptly of any such unauthorised use of which you are aware. Failure to abide by these conditions will immediately terminate this permission and may result in the infringement of the copyrights and/or trademarks and other proprietary rights of Zimply or others.</p>
        <h3>PACKING & DELIVERY</h3>
        <p>The seller acknowledges and agrees that packing and delivery of the products is an integral part of this agreement and the same shall be subject to all general standards of law applicable to the products as such</p>
        <p>The seller shall ensure that packaging shall be sufficient to protect the products from outside elements, so as to have no or minimal adverse effect on the quality</p>
        <p>If the products against an order are delivered in parts, they will be considered as part of single order and all expenses of packaging, storage and duties & taxes will be borne by seller.</p>
        <p>COMPANY shall have no obligation to pay for or return any kind of packing material used by seller.</p>
        <h3>CONSUMER RIGHTS AND CUSTOMER SERVICES</h3>
        <p>The title of ownership to the products shall pass to the buyer at the time of delivery</p>
        <p>Seller shall issue a suitable, duly stamped, manufacturer’s warranty card to the buyer with the product at the time of dispatch of the products, if applicable</p>
        <p>Seller will provide the details for the contact to the customer so that customer can have initial queries (if any) solved by the seller itself.</p>
        <p>The responsibility for redress of buyer’s complaints will rest solely with the seller, he/she will provide necessary information, like contact info, product details to buyer if required</p>
        <p>In the event the products provided by the seller are not in conformity with this agreement or the order, in such a case, the seller shall either</p>
        <ul>
          <li>remove deficiencies from the products supplied;</li>
          <li>replace the products</li>
        </ul>
        <h3>INTELLECTUAL PROPERTY RIGHTS</h3>
        <p>Seller hereby declares & confirms that it deals in original, legitimate and genuine quality products</p>
        <p>Seller represents & warrants that it has absolute right to sell the products through Zimply.in</p>
        <p>Seller shall not list any item or post any related material that (a) infringes any third-party intellectual property rights (including copyright, trademark, patent, and trade secrets) or other proprietary rights; or (b) is counterfeited, illegal, stolen, or fraudulent. COMPANY shall not be liable for contents and images shared, uploaded or displayed on website by seller regarding its products and all consequent liability will be borne by seller only</p>
        <p>Seller hereby grants to COMPANY the right to display and delist the product, logo, trademark, brand name, etc. owned by it or its business associates for marketing/selling through Zimply.in</p>
        <p>Seller represents that it has the necessary rights to grant such permission to COMPANY and agrees to indemnify COMPANY in respect of any claims, damages, losses etc., arising out of or in connection with violation of the same. Nothing contained herein shall be deemed to grant to the party either directly or by implication, any license to under any patents, trademarks, designs etc. belonging to the owner of the products/ intellectual property to the products.</p>
        <p>In order that either party may protect its trademarks, service marks, trade names, trade secrets, corporate slogans, corporate logos, product designations (collectively the “Marks”) and its goodwill, both seller agrees that they shall have no right to use the others marks in any mode or manner without the prior written consent of the other</p>
        <h3>DATABASE AND CONFIDENTIALITY</h3>
        <p>Data of the buyers will be the exclusive property of COMPANY, and seller will not use for its own purpose or distribute it in any form and shall keep it confidential at all times</p>
        <p>Confidential information would include but not be limited to buyer details, market information, all work products and documents related thereto, the contents of the website Zimply.in or any other information which is treated as confidential by COMPANY, and any other information received or to be received by seller which is agreed to be treated under the same terms</p>
        <p>The parties understand and acknowledge that, whether in the course of performance of this agreement or otherwise, it will receive or become aware of Confidential Information of the other party</p>
        <p>The parties agree that it shall use the Confidential Information of the disclosing Party only as follows:</p>
        <p>To use such Confidential Information only in relation to the Agreement;</p>
        <p>Not to disclose any such Confidential Information or any part thereof to a person outside the receiving party's business organization for any purposes unless expressly authorised by the disclosing party;</p>
        <p>To limit dissemination of such Confidential Information to persons within the receiving Party's business organization who are directly involved in the performance of this Agreement and have a need to use such Confidential Information;</p>
        <p>To safeguard the Confidential Information to the same extent that it safeguards its own confidential materials or data.</p>
        <p>The Parties hereby agree that Confidential Information shall not include any of the following information that:</p>
        <ul>
          <li>is independently developed by the receiving party without reference to any Confidential Information of the disclosing Party;</li>
          <li>is subsequently learned from a third Party without a duty of confidentiality;</li>
          <li>is as of the time of its disclosure part of the public domain;</li>
          <li>is at the time of disclosure was already in the possession of the receiving Party;</li>
          <li>is required to be disclosed pursuant to a court order or government authority, whereupon the receiving Party shall, at its earliest opportunity, provide written notice to the disclosing Party prior to such disclosure and where feasible giving the disclosing Party a reasonable opportunity to secure a protective order or take other action as appropriate.</li>
        </ul>
        <p>The receiving party shall immediately upon becoming aware of any unauthorized disclosure, give notice to the other Party of such unauthorized disclosure, misuse, theft or other loss of Confidential Information, whether inadvertently or otherwise.</p>
        <p>The Parties’ obligations under this Clause shall extend to the non-publicizing of any dispute arising out of this Agreement. The terms of this clause shall continue in full force and effect for a period of three (3) years from the date of disclosure of such Confidential Information.</p>
        <h3>INDEMNITY</h3>
        <p>Seller shall, at all times and to the complete satisfaction of COMPANY and without demur indemnify and hold COMPANY harmless for any and all claims, demands, lawful action suits or proceedings, liabilities, losses, costs, expenses (including legal fees) or damages asserted against COMPANY by the Buyer or any third party arising out of seller’s actions or omissions in connection with the sale of seller’s products and their performance during the period of this arrangement and for the products sold, even after the termination of this Agreement.</p>
        <p>Seller represents and warrants that it is a legal entity engaged in a legitimate and lawful commercial enterprise & activity, having all regulatory approvals required to run the similar business and doing regular compliances with applicable provisions of laws. The seller shall indemnify COMPANY against any action by a third party against the products supplied by the seller that is based on any negligent act or omission or willful conduct of the seller or employees of the seller and which results in:</p>
        <ul>
          <li>any bodily injury, sickness, disease or death;</li>
          <li>any injury or destruction to tangible or intangible property (including computer programs and data) or any loss of use resulting there from; or</li>
          <li>any violation of any statute, ordinance, or regulation. The seller hereby represents and warrants to COMPANY that it shall at all times keep COMPANY fully indemnified against all claims, actions, proceedings and demands including any suits, claims, disputes or such differences that are brought directly against COMPANY by any third party, on account of breach by the seller of any of the terms and conditions contained in this Agreement. Seller shall indemnify COMPANY at all times against all claims, actions, proceeding and demands including any suits, claims, disputes or such differences that are brought directly against COMPANY by any third party, on account of usage of the Product/s.</li>
        </ul>
        <h3>FINANCIAL TERMS</h3>
        <p>Payments for orders completed shall be made to the seller as per the cycle specified in Annexure “B”</p>
        <p>In case seller fails to make the product ready for dispatch to buyer within the period as selected by him, COMPANY will nonetheless be entitled to the marketing fee on the product as agreed to in this agreement</p>
        <p>Seller is obligated to sell the goods at competitive, best and listed prices (inclusive of all applicable taxes) to buyers</p>
        <p>Seller represents and warrants that it has the right and ability to sell and that the listing is accurate, current, and complete and is not misleading or otherwise deceptive</p>
        <p>Seller will be responsible for payment of all applicable sales tax/VAT</p>
        <p>Seller agrees and acknowledges that it will pay the marketing fee as 15% of the selling price for all the orders received through COMPANY</p>
        <p>The seller hereby agrees to accept all sales return, which are refused/not accepted by the buyer at or before the time of delivery or after the delivery as per Return and Damage policy shown on zimply.in</p>
        <h3>Return Policy</h3>
        <p>Policy for the return of the product can be chosen by the seller while registering on the portal. However the ultimate decision depends on zimply.in by looking at the issue closely.</p>
        <h3>Damage Policy</h3>
        <p>In case of damage for any product, liability solely depends on seller. Ensuring the safe delivery of any product will be sellers’ responsibility while contacting the customer if needed. The guideline regarding damaged products can be seen and filled while registering on zimply.in.</p>
        <h3>LIMITATION OF LIABILITY</h3>
        <p>NOTWITHSTANDING ANYTHING TO THE CONTRARY ELSEWHERE CONTAINED IN THIS AGREEMENT, NEITHER PARTY SHALL, IN ANY EVENT, REGARDLESS OF THE FORM OF CLAIM, BE LIABLE FOR ANY INDIRECT, SPECIAL, PUNITIVE, EXEMPLARY, SPECULATIVE OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, ANY LOSS OF USE, BUSINESS INTERRUPTION, AND LOSS OF INCOME OR PROFITS, IRRESPECTIVE OF WHETHER IT HAD AN ADVANCE NOTICE OF THE POSSIBILITY OF ANY SUCH DAMAGES. NOTWITHSTANDING ANY OTHER PROVISION OF THIS AGREEMENT, COMPANY TOTAL LIABILITY TO THE SELLER UNDER THIS AGREEMENT SHALL NOT EXCEED INR. 5,000/-.</p>
        <h3>ARBITRATION</h3>
        <p>If any dispute arises between the Parties hereto during the subsistence of this agreement or thereafter, in connection with or arising out of this agreement, the Parties hereto shall endeavor to settle such disputes amicably. In case the Parties fail to settle such disputes within a period of thirty (30) days, the dispute shall be referred to arbitration under the Indian Arbitration and Conciliation Act, 1996, by a panel of 3 (three) arbitrators. Each Party will appoint 1 (one) arbitrator and the 2 (two) arbitrators so appointed will appoint the third or the presiding arbitrator. Arbitration shall be held at New Delhi, India. The proceedings of arbitration shall be in the English language. The arbitrator’s award shall be final and binding on the Parties.</p>
        <h3>TERM AND TERMINATION</h3>
        <p>This Agreement shall remain effective from the execution Date until termination as provided under this Clause. COMPANY may terminate this Agreement upon written notice to the  seller in the event that:</p>
        <ol>
          <li>(a) the seller commits a material breach of the Agreement and fails to cure such default to the COMPANY reasonable satisfaction within thirty (30) days after receipt of notice; or</li>
          <li>(b) the seller becomes insolvent or bankrupt, assigns all or a substantial part of its business or assets for the benefit of creditors, permits the appointment of a receiver for its business or assets, becomes subject to any legal proceeding relating to insolvency or the protection of creditor’ rights or otherwise ceases to conduct business in the normal course. Both the parties may terminate this Agreement without cause at any time by providing the written notice of 60 (Sixty) days. In the event that this Agreement is terminated in its entirety, the seller shall complete the pending schedules/ Purchase Orders already placed through the website at the time of termination of the Agreement.</li>
        </ol>
        <h2>MISCELLANEOUS</h2>
        <h3>Governing Law</h3>
        <p>This Agreement shall be interpreted and construed in accordance with the laws of India. Courts at DELHI, the capital of India shall have exclusive jurisdiction over any/all claims arising out of this Agreement.</p>
        <h3>Entire Agreement</h3>
        <p>This Agreement shall constitute the entire Agreement between the Parties hereto relating to the subject matter thereof, and there are no oral statements, representations, warranties, undertakings or agreements between the Parties except as provided herein. This Agreement may not be amended or modified in any respect except by written instrument signed by the Parties hereto.</p>
        <h3>Waiver</h3>
        <p>The failure of any party to enforce any term or provision hereof shall not be construed to be waiver of such term or provision and shall in no way affect the right of such Party thereafter to enforce such term or provision or any term or provision hereof.</p>
        <h3>Amendments</h3>
        <p>No modification, amendment or waiver of the terms and conditions of this Agreement shall be valid or binding unless made in writing and duly executed by the Parties.</p>
        <h3>Principal -to-Principal Agreement</h3>
        <p>This Agreement has been entered into on a principal-to-principal basis and nothing contained in this Agreement shall be deemed to constitute a joint venture, partnership, or agency relationship between COMPANY and the seller. The Parties hereto shall not represent as an agent of the other under any circumstances and at any place and at any point of time and shall fulfil their obligations strictly in terms of this Agreement as between two independent principles in commercial transactions and none of the terms and conditions of this Agreement or their context shall be read or meant to be otherwise.</p>
        <h3>Assignment</h3>
        <p>Neither Party shall in any manner whatsoever transfer or otherwise assign this agreement or any of its rights or obligations hereunder without the prior written consent of the other Party. However it is hereby clarified and agreed between the parties to the agreement that COMPANY may assign this agreement to any of its subsidiary, group, affiliate or holding companies without any prior consent of seller</p>
        <h3>Notices</h3>
        <p>All notices, requests for written approval and other communication provided for in this agreement shall be submitted in writing and transmitted by registered post, prepaid registered airmail or courier service at the address of the Parties as given under the Agreement. Either Party may, inform the other Party in case of any address change.</p>
        <h3>Severability</h3>
        <p>If any provision of this Agreement is held by a court of competent jurisdiction to be void, invalid, unenforceable or illegal, such provision shall be enforced to the maximum extent possible and the remaining provisions shall remain in full force and effect.</p>
        <p>This Agreement is signed in two copies, of which the Parties have taken one each.</p>
        <p>IN WITNESS WHEREOF, the Parties have caused this Agreement to be executed by their respective representatives there unto duly authorised as of the date first written.</p>
        <h1>Annexure A</h1>
        <h3>Products and Order detail:</h3>
        <p>Company shall intimate order details in the mode as mutually agreed from time to time to the Seller and the same shall be fulfilled by Seller as mentioned in the order detail.</p>
        <p>Location of delivery of Products shall be as communicated by company.</p>
        <p>Company shall reserve the right to make any changes to the specifications of the Products and/or cancel any order within 4 (Four) days from intimation of order detail to Seller. Thereafter, prior to making any changes, Company shall seek prior written permission or electronic confirmation from the Seller.</p>
        <p>Types of Seller can be listed  □ Manufacturer   □ Distributor   □ Dealer</p>
        <p>Category of Product dealing in</p>
        <br>Home décor</br>
        <br>Furniture</br>
        <p>Products shall be replaced by the Seller within the specified days by the seller, from the receipt of intimation by Company In case of further delay, COMPANY should be duly informed in advance and COMPANY decision on status of order shall be final.</p>
        <p>All the payments under this Agreement will be made in favour of:</p>
        <p>BITNOMIX TECHNOLOGIES PVT LTD (wherever applicable).</p>
        <h3>DROPSHIP:</h3>
        <p>Seller will be responsible for packing and shipping the product to the buyer(s) via courier through seller’s nominated courier partner and provide the tracking number on the portal while shipping the product.</p>
        <p>Seller will use packing material mutually agreed with the Company to package the Product and ship it to the selected locations by courier or self delivery.</p>
        <h3>Commission Structure</h3>
        <p>Commission will be fixed as flat 15% for all the products sold and will be applicable on selling price for customer.</p>
        <h1>ANNEXURE -B</h1>
        <h3>Commercial Terms & Conditions:</h3>
        <p>Company will charge a fee as stated against respective category below on successful sales happening from its website www.zimply.in.</p>
        <h3>Payment Cycle:-</h3>
        <p>Company will release payment to its vendors after deducting its commission and other charges based on below matrix for all successfully fulfilled orders.</p>
        <table>
          <tr>
            <td>Order Delivery date</td>
            <td>1st - 10th of the Month</td>
            <td>11th – 20th of the month</td>
            <td>21st to last day of the month</td>
          </tr>
          <tr>
            <td>Payment Date</td>
            <td>Till 15th of that month</td>
            <td>Till 25th of that month</td>
            <td>Till 5th of the next month</td>
          </tr>
        </table>
        <p>The mode of payment would be online transfer to the seller’s provided bank account according the payment cycle defined above.</p>
        <h3>Discounting</h3>
        <p>If the seller feels to discount any products, the complete discount to be borne by the seller.</p>
        <p>Seller can update the discount on Company portal by using Promotions according to his needs and can update the inventory from time to time.</p>
      </div>
    </div>
  </div>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>

haml/pages/tnc.haml
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render


%body

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render


	.container
		.row
			.left-sidebar
			.content-wrapper
				%h1 Terms and Conditions for seller
				%p This T & C Agreement ("Agreement") constitutes a legally binding contract between zimply.in (“Zimply," "we," "us," "our") and you with respect to your use of the Zimply website, applications, and the products and services offered by Zimply through them (collectively, the “Site”). It is important that you carefully read and understand the terms and conditions of this Agreement. By using the Site, you agree to be bound by this Agreement. If you do not agree to these terms and conditions, you should not use the Site.

				%p This Agreement provides important information to you, including information about your obligations regarding your content, our limitation of liability to you, your agreement to resolve any disputes by individual arbitration and to waive the right to participate in a class action.

				%h2 Changes in the Terms and Conditions

				%p Zimply reserves the right at any time to:

				%ul
					%li change the terms and conditions of this Agreement, consistent with applicable law;
					%li change the Site, including eliminating or discontinuing any Information or Services (defined below) or other features in whole or in part; and
					%li deny or terminate your use of and/or access to the Site.

				%p Any changes we make to the terms and conditions will be effective immediately upon our making such changes available on the Site, and posting notice of such changes on the Site or in another manner in our reasonable discretion. You agree that your continued use of the Site after such changes constitutes your acceptance of such changes. If you do not agree with any of the updates to the terms of this Agreement, you should not use the Site. Be sure to return to this page periodically to ensure your familiarity with the most current version of this Agreement.

				%h2 COMPANY RESERVATION OF RIGHTS
				
				%p Seller shall accurately describe the Product for sale. Seller shall provide and/or upload the content and images of the products for which they are authorized to sell. COMPANY retains the right to determine the content, appearance, design, functionality and all other aspects of the website and to delay or suspend listing of, or to refuse to list, or to de-list, or to require seller not to list, any or all products on the website
				
				%p COMPANY shall receive orders for the products displayed on behalf of the seller only in the capacity of the entity that provides an access to the website, marketing and distribution channel to the seller
				
				%p With the sole intent of facilitating the transactions on zimply.in. COMPANY shall do payments processing, refunds & adjustments and remitting sales proceeds to the seller’s Bank Account after deducting their commission and other charges.

				%p COMPANY shall capture the buyer/order details placed on the sellers and share the details of same with the seller for the supply of the products.  The seller shall acknowledge receipt of the same. On receipt of the order, seller will make the products ready for dispatch. The seller shall issue Invoices to the buyers and deliver the products in accordance with the order received
				
				%p COMPANY shall not in any manner be held liable or responsible for the defects in the products.

				%p Seller shall notify COMPANY immediately in writing or by e mail of any circumstance that it expects will cause a delay in delivery of any products. Seller shall further provide the following information in writing to COMPANY: 
			
				%ul
					%li the estimated period of delay and the reasons thereof; 
					%li the actions that will be taken by seller to avoid or overcome such delay; and 
					%li the date by which seller expects to deliver the products. In case seller fails to make the product ready for dispatch within the period as stipulated, penalty will be imposed by the COMPANY and the amount of the penalty shall be solely decided by COMPANY.

				%p COMPANY has the rights to change the display name of the seller on Zimply.in at its discretion

				%h3	Eligibility
				
				%p By registering with us and using this Site you represent, acknowledge and agree that you are at least the age of majority where you reside.

				%h3 Registration
				%p Access to certain functionalities of the Site will require you to register with and/or provide certain information to Zimply. When you register or provide information to Zimply, you agree to (a) provide accurate, current and complete information about yourself as prompted (including your email address) and (b) maintain and update your information (including your email address) to keep it accurate, current and complete.

				%h3 Professional Profiles
				%p Home improvement professionals may elect to register as a professional and create a professional profile on Zimply. Subject to the terms of this Agreement, such users can use the features made available by us to promote their business on the Site.

				%h3 Your Permitted Use of Services and Information
				%p The services made available on the Site (collectively the "Services"), as well as any information provided through website (collectively, the "Information"), are provided for your personal use only and not for any for-profit or commercial activities or purpose or for resale, except as expressly permitted in this Agreement. No Zimply materials or property may be copied, reproduced, displayed, republished, downloaded, posted, digitised, translated, modified, transmitted, distributed or commercially exploited in any way, except as expressly permitted in this Agreement. Zimply’s permission to you for your use of this Site expressly excludes commercial use by you of any Information concerning product descriptions or professional listings for the benefit of another merchant. You expressly are prohibited from any use of data mining, robots, or similar data gathering and extraction tools in your use of the Site.

				%p Zimply permits you to view and print a reasonable number of copies of web pages located on the Site for your own personal use, but not for any for-profit or commercial purpose or for resale; provided that (a) you retain all trademark, copyright, and other proprietary notices contained in the original materials, (b) the material is printed in its entirety without modification, reformatting or adaptation of any kind, and (c) any such copies are subject to the terms and conditions of this Agreement and remain the property of Zimply. You understand and agree that you may not authorise any Information to be reproduced, modified, displayed, performed, transferred, distributed or otherwise used by any third party, and you agree that you will take all reasonable steps to prevent any unauthorised reproduction and/or other use of the Information. You agree to advise us promptly of any such unauthorised use of which you are aware. Failure to abide by these conditions will immediately terminate this permission and may result in the infringement of the copyrights and/or trademarks and other proprietary rights of Zimply or others.

				%h3 PACKING & DELIVERY
				%p The seller acknowledges and agrees that packing and delivery of the products is an integral part of this agreement and the same shall be subject to all general standards of law applicable to the products as such
				%p The seller shall ensure that packaging shall be sufficient to protect the products from outside elements, so as to have no or minimal adverse effect on the quality
				%p If the products against an order are delivered in parts, they will be considered as part of single order and all expenses of packaging, storage and duties & taxes will be borne by seller.
				%p COMPANY shall have no obligation to pay for or return any kind of packing material used by seller.


				%h3 CONSUMER RIGHTS AND CUSTOMER SERVICES
				%p The title of ownership to the products shall pass to the buyer at the time of delivery
				%p Seller shall issue a suitable, duly stamped, manufacturer’s warranty card to the buyer with the product at the time of dispatch of the products, if applicable
				%p Seller will provide the details for the contact to the customer so that customer can have initial queries (if any) solved by the seller itself.
				%p The responsibility for redress of buyer’s complaints will rest solely with the seller, he/she will provide necessary information, like contact info, product details to buyer if required
				%p In the event the products provided by the seller are not in conformity with this agreement or the order, in such a case, the seller shall either 
				%ul
					%li remove deficiencies from the products supplied; 
					%li replace the products


				%h3 INTELLECTUAL PROPERTY RIGHTS
				%p Seller hereby declares & confirms that it deals in original, legitimate and genuine quality products
				%p Seller represents & warrants that it has absolute right to sell the products through Zimply.in
				%p Seller shall not list any item or post any related material that (a) infringes any third-party intellectual property rights (including copyright, trademark, patent, and trade secrets) or other proprietary rights; or (b) is counterfeited, illegal, stolen, or fraudulent. COMPANY shall not be liable for contents and images shared, uploaded or displayed on website by seller regarding its products and all consequent liability will be borne by seller only
				%p Seller hereby grants to COMPANY the right to display and delist the product, logo, trademark, brand name, etc. owned by it or its business associates for marketing/selling through Zimply.in
				%p Seller represents that it has the necessary rights to grant such permission to COMPANY and agrees to indemnify COMPANY in respect of any claims, damages, losses etc., arising out of or in connection with violation of the same. Nothing contained herein shall be deemed to grant to the party either directly or by implication, any license to under any patents, trademarks, designs etc. belonging to the owner of the products/ intellectual property to the products. 
				%p In order that either party may protect its trademarks, service marks, trade names, trade secrets, corporate slogans, corporate logos, product designations (collectively the “Marks”) and its goodwill, both seller agrees that they shall have no right to use the others marks in any mode or manner without the prior written consent of the other

				%h3 DATABASE AND CONFIDENTIALITY
				%p Data of the buyers will be the exclusive property of COMPANY, and seller will not use for its own purpose or distribute it in any form and shall keep it confidential at all times
				%p Confidential information would include but not be limited to buyer details, market information, all work products and documents related thereto, the contents of the website Zimply.in or any other information which is treated as confidential by COMPANY, and any other information received or to be received by seller which is agreed to be treated under the same terms
				%p The parties understand and acknowledge that, whether in the course of performance of this agreement or otherwise, it will receive or become aware of Confidential Information of the other party
				%p The parties agree that it shall use the Confidential Information of the disclosing Party only as follows: 
				%p To use such Confidential Information only in relation to the Agreement;
				%p Not to disclose any such Confidential Information or any part thereof to a person outside the receiving party's business organization for any purposes unless expressly authorised by the disclosing party;
				%p To limit dissemination of such Confidential Information to persons within the receiving Party's business organization who are directly involved in the performance of this Agreement and have a need to use such Confidential Information;
				%p To safeguard the Confidential Information to the same extent that it safeguards its own confidential materials or data.
				%p The Parties hereby agree that Confidential Information shall not include any of the following information that: 
				%ul 
					%li is independently developed by the receiving party without reference to any Confidential Information of the disclosing Party; 
					%li is subsequently learned from a third Party without a duty of confidentiality; 
					%li is as of the time of its disclosure part of the public domain; 
					%li is at the time of disclosure was already in the possession of the receiving Party; 
					%li is required to be disclosed pursuant to a court order or government authority, whereupon the receiving Party shall, at its earliest opportunity, provide written notice to the disclosing Party prior to such disclosure and where feasible giving the disclosing Party a reasonable opportunity to secure a protective order or take other action as appropriate.
				%p The receiving party shall immediately upon becoming aware of any unauthorized disclosure, give notice to the other Party of such unauthorized disclosure, misuse, theft or other loss of Confidential Information, whether inadvertently or otherwise. 
				%p The Parties’ obligations under this Clause shall extend to the non-publicizing of any dispute arising out of this Agreement. The terms of this clause shall continue in full force and effect for a period of three (3) years from the date of disclosure of such Confidential Information.

				%h3 INDEMNITY
				%p Seller shall, at all times and to the complete satisfaction of COMPANY and without demur indemnify and hold COMPANY harmless for any and all claims, demands, lawful action suits or proceedings, liabilities, losses, costs, expenses (including legal fees) or damages asserted against COMPANY by the Buyer or any third party arising out of seller’s actions or omissions in connection with the sale of seller’s products and their performance during the period of this arrangement and for the products sold, even after the termination of this Agreement. 
				%p Seller represents and warrants that it is a legal entity engaged in a legitimate and lawful commercial enterprise & activity, having all regulatory approvals required to run the similar business and doing regular compliances with applicable provisions of laws. The seller shall indemnify COMPANY against any action by a third party against the products supplied by the seller that is based on any negligent act or omission or willful conduct of the seller or employees of the seller and which results in:  
				%ul
					%li any bodily injury, sickness, disease or death; 
					%li any injury or destruction to tangible or intangible property (including computer programs and data) or any loss of use resulting there from; or 
					%li any violation of any statute, ordinance, or regulation. The seller hereby represents and warrants to COMPANY that it shall at all times keep COMPANY fully indemnified against all claims, actions, proceedings and demands including any suits, claims, disputes or such differences that are brought directly against COMPANY by any third party, on account of breach by the seller of any of the terms and conditions contained in this Agreement. Seller shall indemnify COMPANY at all times against all claims, actions, proceeding and demands including any suits, claims, disputes or such differences that are brought directly against COMPANY by any third party, on account of usage of the Product/s.


				%h3 FINANCIAL TERMS
				%p Payments for orders completed shall be made to the seller as per the cycle specified in Annexure “B”
				%p In case seller fails to make the product ready for dispatch to buyer within the period as selected by him, COMPANY will nonetheless be entitled to the marketing fee on the product as agreed to in this agreement
				%p Seller is obligated to sell the goods at competitive, best and listed prices (inclusive of all applicable taxes) to buyers
				%p Seller represents and warrants that it has the right and ability to sell and that the listing is accurate, current, and complete and is not misleading or otherwise deceptive
				%p Seller will be responsible for payment of all applicable sales tax/VAT
				%p Seller agrees and acknowledges that it will pay the marketing fee as 15% of the selling price for all the orders received through COMPANY
				%p The seller hereby agrees to accept all sales return, which are refused/not accepted by the buyer at or before the time of delivery or after the delivery as per Return and Damage policy shown on zimply.in

				%h3 Return Policy
				%p Policy for the return of the product can be chosen by the seller while registering on the portal. However the ultimate decision depends on zimply.in by looking at the issue closely. 


				%h3 Damage Policy
				%p In case of damage for any product, liability solely depends on seller. Ensuring the safe delivery of any product will be sellers’ responsibility while contacting the customer if needed. The guideline regarding damaged products can be seen and filled while registering on zimply.in.


				%h3 LIMITATION OF LIABILITY
				%p NOTWITHSTANDING ANYTHING TO THE CONTRARY ELSEWHERE CONTAINED IN THIS AGREEMENT, NEITHER PARTY SHALL, IN ANY EVENT, REGARDLESS OF THE FORM OF CLAIM, BE LIABLE FOR ANY INDIRECT, SPECIAL, PUNITIVE, EXEMPLARY, SPECULATIVE OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, ANY LOSS OF USE, BUSINESS INTERRUPTION, AND LOSS OF INCOME OR PROFITS, IRRESPECTIVE OF WHETHER IT HAD AN ADVANCE NOTICE OF THE POSSIBILITY OF ANY SUCH DAMAGES. NOTWITHSTANDING ANY OTHER PROVISION OF THIS AGREEMENT, COMPANY TOTAL LIABILITY TO THE SELLER UNDER THIS AGREEMENT SHALL NOT EXCEED INR. 5,000/-.



				%h3 ARBITRATION
				%p If any dispute arises between the Parties hereto during the subsistence of this agreement or thereafter, in connection with or arising out of this agreement, the Parties hereto shall endeavor to settle such disputes amicably. In case the Parties fail to settle such disputes within a period of thirty (30) days, the dispute shall be referred to arbitration under the Indian Arbitration and Conciliation Act, 1996, by a panel of 3 (three) arbitrators. Each Party will appoint 1 (one) arbitrator and the 2 (two) arbitrators so appointed will appoint the third or the presiding arbitrator. Arbitration shall be held at New Delhi, India. The proceedings of arbitration shall be in the English language. The arbitrator’s award shall be final and binding on the Parties.

				%h3 TERM AND TERMINATION
				%p This Agreement shall remain effective from the execution Date until termination as provided under this Clause. COMPANY may terminate this Agreement upon written notice to the  seller in the event that:

				%ol
					%li (a) the seller commits a material breach of the Agreement and fails to cure such default to the COMPANY reasonable satisfaction within thirty (30) days after receipt of notice; or 
					%li (b) the seller becomes insolvent or bankrupt, assigns all or a substantial part of its business or assets for the benefit of creditors, permits the appointment of a receiver for its business or assets, becomes subject to any legal proceeding relating to insolvency or the protection of creditor’ rights or otherwise ceases to conduct business in the normal course. Both the parties may terminate this Agreement without cause at any time by providing the written notice of 60 (Sixty) days. In the event that this Agreement is terminated in its entirety, the seller shall complete the pending schedules/ Purchase Orders already placed through the website at the time of termination of the Agreement.

				%h2 MISCELLANEOUS

				%h3 Governing Law
				%p This Agreement shall be interpreted and construed in accordance with the laws of India. Courts at DELHI, the capital of India shall have exclusive jurisdiction over any/all claims arising out of this Agreement.

				%h3 Entire Agreement
				%p This Agreement shall constitute the entire Agreement between the Parties hereto relating to the subject matter thereof, and there are no oral statements, representations, warranties, undertakings or agreements between the Parties except as provided herein. This Agreement may not be amended or modified in any respect except by written instrument signed by the Parties hereto.



				%h3 Waiver
				%p The failure of any party to enforce any term or provision hereof shall not be construed to be waiver of such term or provision and shall in no way affect the right of such Party thereafter to enforce such term or provision or any term or provision hereof.
				%h3 Amendments
				%p No modification, amendment or waiver of the terms and conditions of this Agreement shall be valid or binding unless made in writing and duly executed by the Parties. 
				%h3 Principal -to-Principal Agreement
				%p This Agreement has been entered into on a principal-to-principal basis and nothing contained in this Agreement shall be deemed to constitute a joint venture, partnership, or agency relationship between COMPANY and the seller. The Parties hereto shall not represent as an agent of the other under any circumstances and at any place and at any point of time and shall fulfil their obligations strictly in terms of this Agreement as between two independent principles in commercial transactions and none of the terms and conditions of this Agreement or their context shall be read or meant to be otherwise.
				%h3 Assignment
				%p Neither Party shall in any manner whatsoever transfer or otherwise assign this agreement or any of its rights or obligations hereunder without the prior written consent of the other Party. However it is hereby clarified and agreed between the parties to the agreement that COMPANY may assign this agreement to any of its subsidiary, group, affiliate or holding companies without any prior consent of seller
				%h3 Notices
				%p All notices, requests for written approval and other communication provided for in this agreement shall be submitted in writing and transmitted by registered post, prepaid registered airmail or courier service at the address of the Parties as given under the Agreement. Either Party may, inform the other Party in case of any address change.
				%h3 Severability
				%p If any provision of this Agreement is held by a court of competent jurisdiction to be void, invalid, unenforceable or illegal, such provision shall be enforced to the maximum extent possible and the remaining provisions shall remain in full force and effect. 
				%p This Agreement is signed in two copies, of which the Parties have taken one each. 
				%p IN WITNESS WHEREOF, the Parties have caused this Agreement to be executed by their respective representatives there unto duly authorised as of the date first written.

				%h1 Annexure A
				%h3 Products and Order detail:

				%p Company shall intimate order details in the mode as mutually agreed from time to time to the Seller and the same shall be fulfilled by Seller as mentioned in the order detail.
				%p Location of delivery of Products shall be as communicated by company. 
				%p Company shall reserve the right to make any changes to the specifications of the Products and/or cancel any order within 4 (Four) days from intimation of order detail to Seller. Thereafter, prior to making any changes, Company shall seek prior written permission or electronic confirmation from the Seller.
				%p Types of Seller can be listed  □ Manufacturer   □ Distributor   □ Dealer   
				%p Category of Product dealing in
				%br Home décor
				%br Furniture
				%p Products shall be replaced by the Seller within the specified days by the seller, from the receipt of intimation by Company In case of further delay, COMPANY should be duly informed in advance and COMPANY decision on status of order shall be final.
				%p All the payments under this Agreement will be made in favour of:
				%p BITNOMIX TECHNOLOGIES PVT LTD (wherever applicable).

				%h3 DROPSHIP: 
				%p Seller will be responsible for packing and shipping the product to the buyer(s) via courier through seller’s nominated courier partner and provide the tracking number on the portal while shipping the product.
				%p Seller will use packing material mutually agreed with the Company to package the Product and ship it to the selected locations by courier or self delivery.

				%h3 Commission Structure
				%p Commission will be fixed as flat 15% for all the products sold and will be applicable on selling price for customer.




				%h1 ANNEXURE -B
				%h3 Commercial Terms & Conditions:
				%p Company will charge a fee as stated against respective category below on successful sales happening from its website www.zimply.in. 

				%h3 Payment Cycle:-
				%p Company will release payment to its vendors after deducting its commission and other charges based on below matrix for all successfully fulfilled orders.


				%table
					%tr
						%td Order Delivery date
						%td 1st - 10th of the Month
						%td 11th – 20th of the month
						%td 21st to last day of the month
					%tr
						%td Payment Date
						%td Till 15th of that month
						%td Till 25th of that month
						%td Till 5th of the next month
 

				%p The mode of payment would be online transfer to the seller’s provided bank account according the payment cycle defined above.

				%h3 Discounting
				%p If the seller feels to discount any products, the complete discount to be borne by the seller.	
				%p Seller can update the discount on Company portal by using Promotions according to his needs and can update the inventory from time to time.
















= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
