haml/projects/expert-about.haml
%html

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
	%body

		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
		.expert-cover
			.cover-image{style: "background-image: url(../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
			.container
				.user-info
					.avatar
						%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
					.details
						%h3= ["Kapur Interiors", "Urban Square", "SA Architects", "Abstract Design & Build Private Limited", "Nest Interiors and Handicrafts"].sample
						.spec
							= ["Turnkey Solutions", "Interior Designers", "Architect", "Building Contractor", "Landscaping Specialist"].sample
				%a.hire-button.button-primary{href: "#"} Hire
		.container
			.row.two-col-inv
				.left-col	
					%ol.sidebar-links
						- %w(About Expertise Projects).each do |item|
							%li{class: "#{item=='About' ? 'active' : ''}"}
								%a{href: "expert-#{item.downcase}.html"}= item
				.right-col
					%h2  
						About
					%p Nest interiors mission is to create stunning living environments to fit their client’s individual needs. Experienced in all phases of interior architecture services, the emphasis of Nest interiors is on clear and logical architectural solutions to improve and enhance the interior sorroundings. 
					%p Furnishings are an unexpected mix of classic and modern, suffused with bold colours and proportions to bring an elegant blend of sophistication and irreverence too their interiors. Comfort and function are essential components, with practical details carefully observed and orchestrated.
					%h2 Expertise
					%p Turnkey Solutions Carpenter & Furniture Contractor HVAC Contractor Lighting Contractor Painting Contractor Remodeling Contractor Commercial/Office Space Designer Hotel & Restaurant Designer Kitchen, Dining & Bathroom Designer Living & Bedroom Designer Retail Space Designer 3D Rendering Service Ceiling Contractor
					%h2 Photos
					.justified
						- ((rand(5)+1)*(rand(10)+1)).times do 
							- image_file1 = "../../images/misc/1920x1080/#{(rand(24)+1)}.jpg"
							%a.fancy-photo{href: image_file1, rel: "gallery"}
								%img.small{src: image_file1}
							- rand(3).times do
								- image_file2 = "../../images/misc/800x600/#{(rand(24)+1)}.jpg"
								%a.fancy-photo{href: image_file2, rel: "gallery"}
									%img.small{src: image_file2}

haml/projects/expert-about.html
<html>
  <!DOCTYPE html>
  <head>
    <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='../../js/jquery.fancybox.js'></script>
    <script src='../../js/jquery.justifiedGallery.min.js'></script>
    <script src='../../js/custom.js'></script>
  </head>
  <body>
    <header class='header header-fixed'>
      <div class='header-wrapper'>
        <div class='header-container'>
          <a href='../home/home1.html' id='logo'>
            <img src='http://zimply.in/static/images/logo3.png'>
          </a>
          <div class='header-links'>
            <ul>
              <li>
                <a class='header-link' href='#'>Home</a>
              </li>
              <li>
                <a class='header-link' href='#'>Stories</a>
              </li>
              <li>
                <a class='header-link' href='#'>Photos</a>
              </li>
              <li>
                <a class='header-link' href='#'>Experts</a>
              </li>
              <li>
                <a class='header-link' href='#'>Shop</a>
              </li>
              <li>
                <a class='header-link icon-shopping-cart' href='#'></a>
              </li>
              <li class='with-dd'>
                <a class='header-link icon-user' href='#'></a>
                <div class='dropdown'>
                  <ul>
                    <li>
                      <a href='#'>Account</a>
                    </li>
                    <li>
                      <a href='#'>Orders</a>
                    </li>
                    <li>
                      <a href='#'>Settings</a>
                    </li>
                    <li>
                      <a href='#'>Profile</a>
                    </li>
                    <li>
                      <a href='#'>Addresses</a>
                    </li>
                    <li>
                      <a href='#'>Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <a class='button-primary' href='#'>Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class='expert-cover'>
      <div class='cover-image' style='background-image: url(../../images/misc/1920x1080/11.jpg'></div>
      <div class='container'>
        <div class='user-info'>
          <div class='avatar'>
            <img src='../../images/avatars/96x96/8.png'>
          </div>
          <div class='details'>
            <h3>Abstract Design & Build Private Limited</h3>
            <div class='spec'>
              Interior Designers
            </div>
          </div>
        </div>
        <a class='hire-button button-primary' href='#'>Hire</a>
      </div>
    </div>
    <div class='container'>
      <div class='row two-col-inv'>
        <div class='left-col'>
          <ol class='sidebar-links'>
            <li class='active'>
              <a href='expert-about.html'>About</a>
            </li>
            <li class=''>
              <a href='expert-expertise.html'>Expertise</a>
            </li>
            <li class=''>
              <a href='expert-projects.html'>Projects</a>
            </li>
          </ol>
        </div>
        <div class='right-col'>
          <h2>
            About
          </h2>
          <p>Nest interiors mission is to create stunning living environments to fit their client’s individual needs. Experienced in all phases of interior architecture services, the emphasis of Nest interiors is on clear and logical architectural solutions to improve and enhance the interior sorroundings.</p>
          <p>Furnishings are an unexpected mix of classic and modern, suffused with bold colours and proportions to bring an elegant blend of sophistication and irreverence too their interiors. Comfort and function are essential components, with practical details carefully observed and orchestrated.</p>
          <h2>Expertise</h2>
          <p>Turnkey Solutions Carpenter & Furniture Contractor HVAC Contractor Lighting Contractor Painting Contractor Remodeling Contractor Commercial/Office Space Designer Hotel & Restaurant Designer Kitchen, Dining & Bathroom Designer Living & Bedroom Designer Retail Space Designer 3D Rendering Service Ceiling Contractor</p>
          <h2>Photos</h2>
          <div class='justified'>
            <a class='fancy-photo' href='../../images/misc/1920x1080/12.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/12.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/24.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/24.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/16.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/16.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/18.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/18.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/18.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/18.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/5.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/5.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/2.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/2.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/12.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/12.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/19.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/19.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/8.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/8.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/2.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/2.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/2.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/2.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/19.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/19.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/10.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/10.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/5.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/5.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/5.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/5.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/10.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/10.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/21.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/21.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/24.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/24.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/9.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/9.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/15.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/15.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/22.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/22.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/13.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/13.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/8.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/8.jpg'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
