haml/projects/expert-projects.haml
%html

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
	%body

		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
		.expert-cover
			.cover-image{style: "background-image: url(../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
			.container
				.user-info
					.avatar
						%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
					.details
						%h3= ["Kapur Interiors", "Urban Square", "SA Architects", "Abstract Design & Build Private Limited", "Nest Interiors and Handicrafts"].sample
						.spec
							= ["Turnkey Solutions", "Interior Designers", "Architect", "Building Contractor", "Landscaping Specialist"].sample
				%a.hire-button.button-primary{href: "#"} Hire
		.container
			.row.two-col-inv
				.left-col	
					%ol.sidebar-links
						- %w(About Expertise Projects).each do |item|
							%li{class: "#{item=='Projects' ? 'active' : ''}"}
								%a{href: "expert-#{item.downcase}.html"}= item
				.right-col
					.projects-wrapper
						%h2= "#{rand(100)} projects"
						- ((rand(5)+1)*(rand(10)+1)).times do
							%a.project{href: "project-details.html"}
								%img{src: "../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
								.overlay
									%h3= ["Modern Room", "Eclectic Wardrobe", "Distinguished Lioness", "Brave Barons", "Majority Mafia", "Kitchen And Dining", "Liberation Roulette"].sample

haml/projects/expert-projects.html
<html>
  <!DOCTYPE html>
  <head>
    <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='../../js/jquery.fancybox.js'></script>
    <script src='../../js/jquery.justifiedGallery.min.js'></script>
    <script src='../../js/custom.js'></script>
  </head>
  <body>
    <header class='header header-fixed'>
      <div class='header-wrapper'>
        <div class='header-container'>
          <a href='../home/home1.html' id='logo'>
            <img src='http://zimply.in/static/images/logo3.png'>
          </a>
          <div class='header-links'>
            <ul>
              <li>
                <a class='header-link' href='#'>Home</a>
              </li>
              <li>
                <a class='header-link' href='#'>Stories</a>
              </li>
              <li>
                <a class='header-link' href='#'>Photos</a>
              </li>
              <li>
                <a class='header-link' href='#'>Experts</a>
              </li>
              <li>
                <a class='header-link' href='#'>Shop</a>
              </li>
              <li>
                <a class='header-link icon-shopping-cart' href='#'></a>
              </li>
              <li class='with-dd'>
                <a class='header-link icon-user' href='#'></a>
                <div class='dropdown'>
                  <ul>
                    <li>
                      <a href='#'>Account</a>
                    </li>
                    <li>
                      <a href='#'>Orders</a>
                    </li>
                    <li>
                      <a href='#'>Settings</a>
                    </li>
                    <li>
                      <a href='#'>Profile</a>
                    </li>
                    <li>
                      <a href='#'>Addresses</a>
                    </li>
                    <li>
                      <a href='#'>Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <a class='button-primary' href='#'>Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class='expert-cover'>
      <div class='cover-image' style='background-image: url(../../images/misc/1920x1080/13.jpg'></div>
      <div class='container'>
        <div class='user-info'>
          <div class='avatar'>
            <img src='../../images/avatars/96x96/5.png'>
          </div>
          <div class='details'>
            <h3>SA Architects</h3>
            <div class='spec'>
              Building Contractor
            </div>
          </div>
        </div>
        <a class='hire-button button-primary' href='#'>Hire</a>
      </div>
    </div>
    <div class='container'>
      <div class='row two-col-inv'>
        <div class='left-col'>
          <ol class='sidebar-links'>
            <li class=''>
              <a href='expert-about.html'>About</a>
            </li>
            <li class=''>
              <a href='expert-expertise.html'>Expertise</a>
            </li>
            <li class='active'>
              <a href='expert-projects.html'>Projects</a>
            </li>
          </ol>
        </div>
        <div class='right-col'>
          <div class='projects-wrapper'>
            <h2>46 projects</h2>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/1.jpg'>
              <div class='overlay'>
                <h3>Majority Mafia</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/10.jpg'>
              <div class='overlay'>
                <h3>Distinguished Lioness</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/16.jpg'>
              <div class='overlay'>
                <h3>Modern Room</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/12.jpg'>
              <div class='overlay'>
                <h3>Majority Mafia</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/2.jpg'>
              <div class='overlay'>
                <h3>Kitchen And Dining</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/7.jpg'>
              <div class='overlay'>
                <h3>Brave Barons</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/14.jpg'>
              <div class='overlay'>
                <h3>Distinguished Lioness</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/4.jpg'>
              <div class='overlay'>
                <h3>Modern Room</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/16.jpg'>
              <div class='overlay'>
                <h3>Brave Barons</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/8.jpg'>
              <div class='overlay'>
                <h3>Brave Barons</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/13.jpg'>
              <div class='overlay'>
                <h3>Brave Barons</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/18.jpg'>
              <div class='overlay'>
                <h3>Brave Barons</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/9.jpg'>
              <div class='overlay'>
                <h3>Modern Room</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/5.jpg'>
              <div class='overlay'>
                <h3>Kitchen And Dining</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/17.jpg'>
              <div class='overlay'>
                <h3>Eclectic Wardrobe</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/6.jpg'>
              <div class='overlay'>
                <h3>Distinguished Lioness</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/3.jpg'>
              <div class='overlay'>
                <h3>Liberation Roulette</h3>
              </div>
            </a>
            <a class='project' href='project-details.html'>
              <img src='../../images/misc/1920x1080/11.jpg'>
              <div class='overlay'>
                <h3>Distinguished Lioness</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
