haml/projects/project-details.haml
%html

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
	%body

		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
		.expert-cover
			.cover-image{style: "background-image: url(../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
			.container
				.user-info
					.avatar
						%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
					.details
						%h3= ["Kapur Interiors", "Urban Square", "SA Architects", "Abstract Design & Build Private Limited", "Nest Interiors and Handicrafts"].sample
						.spec
							= ["Turnkey Solutions", "Interior Designers", "Architect", "Building Contractor", "Landscaping Specialist"].sample
				%a.hire-button.button-primary{href: "#"} Hire
		.container
			.row.two-col-inv
				.left-col	
					%ol.sidebar-links
						- %w(About Expertise Projects).each do |item|
							%li{}
								%a{href: "expert-#{item.downcase}.html"}= item
				.right-col
					%h2= ["Modern Room", "Eclectic Wardrobe", "Distinguished Lioness", "Brave Barons", "Majority Mafia", "Kitchen And Dining", "Liberation Roulette"].sample  
					- (rand(5)+1).times do
						%p= Faker::Lorem.paragraph 	
					%h2 Photos
					.justified
						- ((rand(5)+1)*(rand(10)+1)).times do 
							- image_file1 = "../../images/misc/1920x1080/#{(rand(24)+1)}.jpg"
							%a.fancy-photo{href: image_file1, rel: "gallery"}
								%img.small{src: image_file1}
							- rand(3).times do
								- image_file2 = "../../images/misc/800x600/#{(rand(24)+1)}.jpg"
								%a.fancy-photo{href: image_file2, rel: "gallery"}
									%img.small{src: image_file2}

haml/projects/project-details.html
<html>
  <!DOCTYPE html>
  <head>
    <link href='../../stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/jquery.fancybox.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='../../stylesheets/justifiedGallery.min.css' media='screen, projection' rel='stylesheet' type='text/css'>
    <link href='https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css' rel='stylesheet'>
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='../../js/jquery.fancybox.js'></script>
    <script src='../../js/jquery.justifiedGallery.min.js'></script>
    <script src='../../js/custom.js'></script>
  </head>
  <body>
    <header class='header header-fixed'>
      <div class='header-wrapper'>
        <div class='header-container'>
          <a href='../home/home1.html' id='logo'>
            <img src='http://zimply.in/static/images/logo3.png'>
          </a>
          <div class='header-links'>
            <ul>
              <li>
                <a class='header-link' href='#'>Home</a>
              </li>
              <li>
                <a class='header-link' href='#'>Stories</a>
              </li>
              <li>
                <a class='header-link' href='#'>Photos</a>
              </li>
              <li>
                <a class='header-link' href='#'>Experts</a>
              </li>
              <li>
                <a class='header-link' href='#'>Shop</a>
              </li>
              <li>
                <a class='header-link icon-shopping-cart' href='#'></a>
              </li>
              <li class='with-dd'>
                <a class='header-link icon-user' href='#'></a>
                <div class='dropdown'>
                  <ul>
                    <li>
                      <a href='#'>Account</a>
                    </li>
                    <li>
                      <a href='#'>Orders</a>
                    </li>
                    <li>
                      <a href='#'>Settings</a>
                    </li>
                    <li>
                      <a href='#'>Profile</a>
                    </li>
                    <li>
                      <a href='#'>Addresses</a>
                    </li>
                    <li>
                      <a href='#'>Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <a class='button-primary' href='#'>Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class='expert-cover'>
      <div class='cover-image' style='background-image: url(../../images/misc/1920x1080/1.jpg'></div>
      <div class='container'>
        <div class='user-info'>
          <div class='avatar'>
            <img src='../../images/avatars/96x96/6.png'>
          </div>
          <div class='details'>
            <h3>Kapur Interiors</h3>
            <div class='spec'>
              Landscaping Specialist
            </div>
          </div>
        </div>
        <a class='hire-button button-primary' href='#'>Hire</a>
      </div>
    </div>
    <div class='container'>
      <div class='row two-col-inv'>
        <div class='left-col'>
          <ol class='sidebar-links'>
            <li>
              <a href='expert-about.html'>About</a>
            </li>
            <li>
              <a href='expert-expertise.html'>Expertise</a>
            </li>
            <li>
              <a href='expert-projects.html'>Projects</a>
            </li>
          </ol>
        </div>
        <div class='right-col'>
          <h2>Brave Barons</h2>
          <p>Voluptas doloremque ducimus. Numquam provident et laborum sunt. Pariatur sit est. Itaque sequi et eius impedit reprehenderit molestias vitae. Nostrum atque impedit sed eos.</p>
          <p>Est omnis reiciendis rerum nemo quis est sint. Sunt iste tenetur ut ipsum voluptatibus eius repellendus. Qui et asperiores. Ea aut fuga et ex aliquid alias. Deleniti dolores tempora distinctio nobis quam assumenda.</p>
          <p>Voluptas neque sequi dolores nihil. Fuga adipisci neque est autem asperiores rerum beatae. Molestiae debitis aut nihil a.</p>
          <p>Enim est eos mollitia nobis vero. Aspernatur mollitia quae minima laboriosam reprehenderit pariatur. Voluptatibus delectus porro temporibus et ab at et. Et ab molestias magnam nobis sit repellat. Quasi id rem cupiditate.</p>
          <p>Inventore et eos iste. Eveniet tempore saepe non est nihil. Labore ut omnis rerum distinctio iste et. Nihil in odit voluptas quam labore quas consectetur. Mollitia error accusantium asperiores soluta omnis iure.</p>
          <h2>Photos</h2>
          <div class='justified'>
            <a class='fancy-photo' href='../../images/misc/1920x1080/4.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/4.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/8.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/8.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/11.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/11.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/19.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/19.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/5.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/5.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/4.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/4.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/22.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/22.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/8.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/8.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/1920x1080/19.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/1920x1080/19.jpg'>
            </a>
            <a class='fancy-photo' href='../../images/misc/800x600/6.jpg' rel='gallery'>
              <img class='small' src='../../images/misc/800x600/6.jpg'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
