haml/mailers/order-cancel-user.haml
!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700,800", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}

    .container{:style => "margin: 0 auto;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;width: 80%;min-width: 300px;font-family: sans;line-height: 1.5em;"}
      %br/
      %br/
      %img{:src => "../../images/mailer/logo.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
      %h1{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;"}
        %img{:src => "../../images/mailer/cancelled.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: middle;"}/
        .heading{:style => "margin: 0;padding: 1em;border: 0;font: inherit;font-size: 24px;vertical-align: middle;display: inline-block;color: #0399f4;"}
          Cancellation Request Initiated
          .byline{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.6em;vertical-align: baseline;color: #222;margin-top: 0.25em;"} 
      %br/
      %br/
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Hi Avrind Kejriwul
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}Your request to cancel the following items from your order with order ID has been accepted and you will receive the full refund for the item within 7-8 working days.
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}You can also track your orders from the my order section on the zimply app or zimply website.

      %br/
      %table.table{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;border-collapse: collapse;border-spacing: 0;"}
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Item Order ID
          %td.order_id{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;background: #F7CA53;"} OD898384
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Order Placed On
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} 24th Nov, 2019
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Shipping Address
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"}
            221B,
            Baker Street
            London
            UK 
      %h2{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: bold;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;"} Cancelled Item Details
      .product-row{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;background: #f0f0f0;-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);"}
        .image{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;width: 150px;"}
          %img{:src => "../../images/lamps/10.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;width: 100%;"}/
        .details{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;"}
          %h3{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Granite Cheese Platter With Knife
          .delivery{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"} Expected Delivery Date: 25th Jun, 2015
          .quantity{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
            %b{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Quantity :
            2
          .amount{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;"}
            %b{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Amount:
            %span.WebRupee{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"} Rs.
            97,237
      %p.ar{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;text-align: right;"}
        %b{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Amount to be reunded:
        %span.amount{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;"}
          %span.WebRupee{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"} Rs.
          97,237    
      %h2{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: bold;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;"} Items Remaining in the Order
      .product-row{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;background: #f0f0f0;-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);"}
        .image{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;width: 150px;"}
          %img{:src => "../../images/lamps/10.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;width: 100%;"}/
        .details{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;"}
          %h3{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Granite Cheese Platter With Knife
          .delivery{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"} Expected Delivery Date: 25th Jun, 2015
          .quantity{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
            %b{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"} Quantity :
            2
      %p.ar{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;text-align: right;"}
        %b{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;"}
          Remaining Amount:            
        %span.amount{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;"}
          %span.WebRupee{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"} Rs.
          97,237   
      %br
      %br
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} For any query or assistance regarding the order, please feel free to contact us at order@zimply.com or call us at: 
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} Thank you for shopping with us! 
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Regards,
        = succeed "Team" do
          %br/
      %br/
      %br/
      .apper.ac{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;text-align: center;padding-top: 1.5em;border-top: 1px solid #eee;"}
        %h2{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: normal;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;"} Get access to a host of additional features and convenience through our app. Download the app now.
        %img{:src => "http://www.toyblastapp.com/wp-content/uploads/2015/06/google-play-button.png", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
        .footnote{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.8125em;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;line-height: 1.84615em;"}
          %a{href: "#"} 
            %img{src: "../../images/mailer/fb.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/tw.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/pin.jpg"}                        

haml/mailers/order-cancel-user.html
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  </head>
  <body style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
    <div class='container' style='margin: 0 auto;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;width: 80%;min-width: 300px;font-family: sans;line-height: 1.5em;'>
      <br>
      <br>
      <img src='../../images/mailer/logo.jpg' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
      <h1 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;'>
        <img src='../../images/mailer/cancelled.jpg' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: middle;'>
        <div class='heading' style='margin: 0;padding: 1em;border: 0;font: inherit;font-size: 24px;vertical-align: middle;display: inline-block;color: #0399f4;'>
          Cancellation Request Initiated
          <div class='byline' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.6em;vertical-align: baseline;color: #222;margin-top: 0.25em;'></div>
        </div>
      </h1>
      <br>
      <br>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>
        Hi Avrind Kejriwul
      </p>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>Your request to cancel the following items from your order with order ID has been accepted and you will receive the full refund for the item within 7-8 working days.</p>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>You can also track your orders from the my order section on the zimply app or zimply website.</p>
      <br>
      <table class='table' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;border-collapse: collapse;border-spacing: 0;'>
        <tr style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
          <td class='title' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;'>Item Order ID</td>
          <td class='order_id' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;background: #F7CA53;'>OD898384</td>
        </tr>
        <tr style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
          <td class='title' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;'>Order Placed On</td>
          <td style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;'>24th Nov, 2019</td>
        </tr>
        <tr style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
          <td class='title' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;'>Shipping Address</td>
          <td style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;'>
            221B,
            Baker Street
            London
            UK
          </td>
        </tr>
      </table>
      <h2 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: bold;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;'>Cancelled Item Details</h2>
      <div class='product-row' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;background: #f0f0f0;-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);'>
        <div class='image' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;width: 150px;'>
          <img src='../../images/lamps/10.jpg' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;width: 100%;'>
        </div>
        <div class='details' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;'>
          <h3 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Granite Cheese Platter With Knife</h3>
          <div class='delivery' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>Expected Delivery Date: 25th Jun, 2015</div>
          <div class='quantity' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
            <b style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Quantity :</b>
            2
          </div>
          <div class='amount' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;'>
            <b style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Amount:</b>
            <span class='WebRupee' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>Rs.</span>
            97,237
          </div>
        </div>
      </div>
      <p class='ar' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;text-align: right;'>
        <b style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Amount to be reunded:</b>
        <span class='amount' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;'>
          <span class='WebRupee' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>Rs.</span>
          97,237
        </span>
      </p>
      <h2 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: bold;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;'>Items Remaining in the Order</h2>
      <div class='product-row' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;background: #f0f0f0;-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);'>
        <div class='image' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;width: 150px;'>
          <img src='../../images/lamps/10.jpg' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;width: 100%;'>
        </div>
        <div class='details' style='margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;display: inline-block;'>
          <h3 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Granite Cheese Platter With Knife</h3>
          <div class='delivery' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>Expected Delivery Date: 25th Jun, 2015</div>
          <div class='quantity' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
            <b style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>Quantity :</b>
            2
          </div>
        </div>
      </div>
      <p class='ar' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;text-align: right;'>
        <b style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;font-weight: bold;'>
          Remaining Amount:
        </b>
        <span class='amount' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;color: #0399f4;'>
          <span class='WebRupee' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>Rs.</span>
          97,237
        </span>
      </p>
      <br>
      <br>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>For any query or assistance regarding the order, please feel free to contact us at order@zimply.com or call us at:</p>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>Thank you for shopping with us!</p>
      <p style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;'>
        Regards,
        <br>Team
      </p>
      <br>
      <br>
      <div class='apper ac' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;text-align: center;padding-top: 1.5em;border-top: 1px solid #eee;'>
        <h2 style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: normal;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;'>Get access to a host of additional features and convenience through our app. Download the app now.</h2>
        <img src='http://www.toyblastapp.com/wp-content/uploads/2015/06/google-play-button.png' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;'>
        <div class='footnote' style='margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.8125em;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;line-height: 1.84615em;'>
          <a href='#'>
            <img src='../../images/mailer/fb.jpg'>
          </a>
          &nbsp;
          &nbsp;
          &nbsp;
          <a href='#'>
            <img src='../../images/mailer/tw.jpg'>
          </a>
          &nbsp;
          &nbsp;
          &nbsp;
          <a href='#'>
            <img src='../../images/mailer/pin.jpg'>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
